body {
  &.dragging {
    cursor: grabbing;
    * {
      user-select: none;
    }
    .view360 * {
      user-select: all;
      #imagebox-brands {
        //&:after {
        //  content: '';
        //  display: block;
        //  width: 100vw;
        //  height: 100vh;
        //  position: fixed;
        //  top: 0;
        //  left: 0;
        //  z-index: 9000;
        //  //background: transparentize(red, .8);
        //}
      }
    }
  }
}
.view360 {
  position: relative;
  width: 100%;
  height: 561px;
  max-height: 561px;
  background-color: #f2efec;

  @include mobile {
    height: 458px;
  }

  &__link {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
    padding-bottom: 3px;
    min-width: 240px;
    @include mobile {
      width: 100%;
      text-align: left;
    }
  }
  // содержит изображение товара
  &__content {
    position: relative;
    text-align: center;
    max-height: 560px;

    @include mobile {
      height: 458px;
      padding-top: 60px;
    }

    div {
      min-width: 500px;
      text-align: center;
      width: 100%;
      max-height: 560px;
      margin: 0 auto;

      &.dragging {
        cursor: grab;
      }
      &.drag {
        cursor: grabbing;
      }
      @include mobile {
        min-width: calc(100vw - 48px);
        width: calc(100vw - 48px);
        max-height: 458px;
      }
    }

    img {
      width: 360px;
      margin-top: 67px;
      @include mobile {
        width: 213px;
        margin-top: 67px;
      }
    }
    &_sk {
      img {
        width: 275px;
        margin-top: 37px;

        @include mobile {
          width: 155px;
          margin-top: 67px;
        }
      }
    }
  }

  &__icon {
    height: 49px;
    @include mobile {
      height: 32px;
      img {
        margin-left: auto;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    padding: 16px 44px 16px 32px;

    @include mobile {
      height: 100%;
      flex-direction: column;
      padding: 20px 16px 16px;
    }
  }

  &__preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #f2efec;
    z-index: 10;
    top: 0;
    visibility: hidden;
    .container {
      //transform: translateY(-50%);
      width: 100%;
      height: 100%;
      position: relative;
      .preloader-icon {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

#view360.loading .view360__preloader {
  visibility: visible;
}

// 3D спрайт:
.sprite-container {
  @include mobile {
    width: calc(100vw - 48px);
    margin-left: 10px;
    height: 458px;
  }
}

#sprite-box {
  width: 500px;
  height: 500px;
  display: block;
  // background-color: yellowgreen;
  //background-image: url($rootpath + "/img/sprites/sprite_pack_red.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  //animation: sprite 4.5s steps(36) infinite forwards;
  //animation-play-state: paused;
  transform-origin: center;
  @include mobile {
    width: 100vw;
    height: 100vw;
    margin: -24px 0 0 -24px;
  }
  &.animate {
    animation-play-state: running;
  }
}
.sb-center {
  background-position: left center;
}

@keyframes sprite {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(-1000px * 36) 0;
  }
}
