.cookie-alert {
  width: 248px;
  height: 248px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.9;
  background-color: var(--coffee-milk);
  position: fixed;
  bottom: 10%;
  left: 10%;
  padding: 40px;
  @include mobile {
    border-radius: 0;
    min-width: 320px;
    width: calc(100vw - 62px);
    height: 120px;
    padding: 16px;
    left: 0;
    bottom: 15%;
    margin: 20px;
    display: flex;
    text-align: left;

  }
  p {
    @include mobile {
      font-size: 16px;
      line-height: 19px;
      margin: 0;
      width: calc(100% - 110px);
    }
  }
}

.cookie-alert button {
  width: 100px;
  height: 49px;
  @include mobile {
    margin-top: 30px;

  }
}
