// $sticky-offset: 260px; // re-defined in _vars.scss
.creating {
  @include desktop {
    &__title {
      position: sticky;
      top: 0;
      z-index: 9;
      background: var(--main-beige);
      &::before {
        content: "";
        position: absolute;
        bottom: -66px;
        left: 0;
        right: 0;
        height: 66px;
        background-color: var(--main-beige);
      }
    }
  }

  &__container {
    margin: 40px 55px 100px 55px;
    margin-top: 40px;
    grid-template-columns: calc(60% - 115px) 40%;
    gap: 0 115px;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      margin: 40px 24px 60px 24px;
      grid-template-columns: 100%;
      gap: 20px;
      min-width: 300px;
    }
  }

  &__creating {
    max-width: 422px;
    @include desktop {
      padding-bottom: 600px;
    }
  }

  &__item {
    height: 240px;
    background: var(--main-beige);
    border-top: 1px solid rgba(192, 179, 168, 0.3);
    padding: 24px 16px;
    img {
      margin-bottom: 16px;
    }
    h2 {
      color: var(--dark-bronze);
      margin: 0 0 4px;
    }
    p {
      margin: 0;
    }
    @include desktop {
      --header-height: 240px;
      position: sticky;
      top: var(--sticky-offset);
      @include folding-blocks(3);
    }
  }

  &__form {
    position: sticky;
    top: var(--sticky-offset);
    background-color: var(--main-white);
    max-width: 486px;
    align-self: start;
    .container {
      padding: 32px 32px 48px;
      border-top: 1px solid rgba(163, 120, 78);
      h3 {
        margin-top: 0;
        font-size: 29px;
        line-height: 36px;
        margin-bottom: 24px;
      }
      input[type="checkbox"] {
        margin-right: 16px;
      }
      a {
        color: var(--main-black);
        text-decoration-line: underline;
        &:hover {
          color: var(--main-bronze);
        }
      }
      .form__btn {
        margin-top: 32px;
        width: 100%;
        display: block;
      }
    }
  }
}
// ниже - из merge conflicts
.contacts__form-cp {
  @include desktop {
    position: sticky;
    top: var(--sticky-offset);
    align-self: start;
  }
}
/*
$sticky-offset: 260px;

.creating {
  @include desktop {
    &__title {
      position: sticky;
      top: 0;
      z-index: 9;
      background: var(--main-beige);
    }
  }

  &__container {
    position: relative;
    margin: 40px 55px 100px 55px;
    margin-top: 40px;
    grid-template-columns: calc(60% - 115px) 40%;
    gap: 0 115px;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      margin: 40px 24px 60px 24px;
      grid-template-columns: 100%;
      gap: 20px;
      min-width: 300px;
    }
  }

  &__creating {
    max-width: 422px;
    @include desktop {
      padding-bottom: 600px;
    }
  }

  &__item {
    height: 240px;
    background: var(--main-beige);
    border-top: 1px solid rgba(192, 179, 168, 0.3);
    padding: 24px 16px;
    img {
      margin-bottom: 16px;
    }
    h2 {
      color: var(--dark-bronze);
      margin: 0 0 4px;
    }
    p {
      margin: 0;
    }
    @include desktop {
      --folded-height: 240px;
      position: sticky;
      top: $sticky-offset;
      @include folding-blocks(3);
    }
  }
}

.contacts__form-cp {
  @include desktop {
    position: sticky;
    top: $sticky-offset;
    align-self: start;
  }
}
*/
