.footer {
  &__container {
    background-color: var(--color-black);
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 55px;
  }
    a {
      color: var(--light-gray);
      font-family: var(--font-family);
    }
    .info {
      text-align: right;
    }
      p {
        font-size: 18px;
        line-height: 28px;
        color: var(--light-gray);
        display: block;
        margin: 0;
        margin-bottom: 30px;
      }
  &__t {
    min-height: 300px;
    padding-top: 80px;
  }

  &__b {
    gap: 30px;
    padding: 50px 55px 40px 55px;
  }
    a {
      font-size: 16px;
      color: var(--light-gray);
      font-family: var(--font-family);
    }

}

.footer_center {
  align-items: center;
  text-align: center;
  padding-top: 34px;
}

.f-logo {
  width: 270px;
}


/* Style the buttons that are used to open and close the accordion panel */
.navf .accordion {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 0;
  color: var(--main-white);
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.navf .empty {
  padding: 10px 0;
  text-transform: uppercase;
  color: var(--main-white);
  width: 100%;
  text-align: left;
  transition: 0.4s;
}


.navf .empty a:hover {
  color: var(--main-bronze);
  transition: 0.4s;
}

.navf .accordion.active {
  color: var(--main-black);
}
.navf .accordion:hover {
  color: var(--main-bronze);
}

/* Style the accordion panel. Note: hidden by default */
.navf .panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.navf .accordion:after {
  content: '﹀';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.navf .active:after {
  content: "︿";
  /* Unicode character for "minus" sign (-) */
}

.navf-sub {
  &__item {
    margin-bottom: 5px;
    // color: var(--main-bronze);
    transition: 0.4s;
  }

  &__link {
    color: var(--main-white);
    font-size: 16px;
    line-height: 19px;
    transition: 0.4s;
    @include hover {
      color: var(--main-bronze);
    }

    &:active {
      text-decoration: underline;
    }
  }
}

.youtube-link {
  display: block;
  margin: 15px;
  margin-top: 80px;
}

.phone, .email {
  color: var(--main-bronze);
}
