.footer {
  &__container {
    background-color: var(--color-black);
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 55px;
  }
    a {
      color: var(--light-gray);
      font-family: var(--font-family);
    }

    .footer_info {
      text-align: right;
    }
      p {
        font-size: 18px;
        line-height: 28px;
        color: var(--light-gray);
        display: block;
        margin: 0;
        margin-bottom: 30px;
      }
      .phone,
      .email {
        color: var(--main-bronze);
      }
  &__t {
    min-height: 300px;
    padding-top: 80px;
  }

  &__b {
    gap: 30px;
    padding: 50px 55px 40px 55px;
  }
    a {
      font-size: 16px;
      color: var(--light-gray);
      font-family: var(--font-family);
    }

}

.footer_center {
  align-items: center;
  text-align: center;
  padding-top: 34px;
}

.f-logo {
  width: 270px;
}


/* Меню футера с раскрывающимися пунктами */
.navf {

  &__item {
    margin-bottom: 32px;
    text-align: left;
    color: var(--main-white);
  }

  &__item .accordion {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  &__item .accordion.active {
    color: var(--main-black);
  }

  &__item .accordion:hover {
    color: var(--main-bronze);
  }

  &__item .empty {
    text-transform: uppercase;
    transition: 0.3s;
  }
    a {
      font-size: 20px;
      line-height: 22px;
    }

    a:hover {
      color: var(--main-bronze);
      transition: 0.3s;
    }


  /* Модменю футера. Hidden by default. */
  &__item .panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__item .accordion:after {
    content: '\02c5';
    font-size: 18px;
    float: right;
    margin-left: 12px;
    transform: scalex(2.5);
  }

  &__item .active:after {
    padding-top: 2px;
    content: "\005e";
  }

}


.navf-sub {
  margin-top: 10px;
  &__item {
    margin-bottom: 5px;
    transition: 0.3s;
  }

  &__link {
    color: var(--main-white);
    font-size: 16px;
    line-height: 19px;
    transition: 0.3s;
    @include hover {
      color: var(--main-bronze);
    }

    &:active {
      text-decoration: underline;
    }
  }
}

.youtube-link {
  display: block;
  margin: 15px;
  margin-top: 80px;
}
