section.labs {
  margin: 40px 55px 60px 55px;
  @include mobile {
      margin: 40px 24px 60px 24px;
    }
}


.labs {
  &__container {
    grid-template-columns: 408px calc(100% - 572px);
    gap: 0 145px;
    min-width: 1000px;

    @include mobile {
      padding-top: 100px;
      margin: 90px 24px 0 24px;
      grid-template-columns: 100%;
      gap: 48px;
      min-width: 300px;
    }
  }

  &__left {
    @include mobile {
      overflow: hidden;
    }
  }
}


// ACCORDION STYLES

.accordionL1 {
  --accordion-time: 0.3s;
  border-top: 1px solid var(--coffee-milk);
}

.labs .content {
  max-width: 1100px;
  margin: 0 auto;
}

.accordionL1__control {
  width: 100%;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.accordionL1__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  height: 450px;
  will-change: max-height;
  transition: all var(--accordion-time) ease-out;
  box-sizing: content-box;
  .container {
    gap: 32px;
    justify-content: end;
    height: 550px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .container > img {
    width: 90px;
    height: 90px;
    margin: 0;
  }
  .container > p {
    max-width: 400px;
  }

}

.accordionL1__title {
  h2 {
    display: inline-block;
    margin: 16px 0;
    @include mobile {
      font-size: 29px;
      line-height: 39px;
    }
  }
}

.accordionL1__icon {
  font-family: "IntroDemoCondLightCAPS";
  display: inline-block;
  width: 78px;
  padding: 5px;
  font-size: 22px;
  text-align: center;
  transition: transform var(--accordion-time) ease-out;
  @include mobile {
    font-size: 18px;
  }
}

.is-open .accordionL1__icon {
  // transform: rotate(45deg);
}

.is-open .accordionL1__content {
  opacity: 1;

}



.accordionL2 {
  --accordion-time: 0.3s;
  border-top: 1px solid var(--coffee-milk);
}

.labs .content {
  max-width: 1100px;
  margin: 0 auto;
}

.accordionL2__control {
  width: 100%;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.accordionL2__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  height: 450px;
  will-change: max-height;
  transition: all var(--accordion-time) ease-out;
  box-sizing: content-box;

  .container {
    gap: 32px;
    justify-content: end;
    height: 550px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .container>img {
    width: 90px;
    height: 90px;
    margin: 0;
  }

  .container>p {
    max-width: 400px;
  }

}

.accordionL2__title {
  h2 {
    display: inline-block;
    margin: 16px 0;

    @include mobile {
      font-size: 29px;
      line-height: 39px;
    }
  }
}

.accordionL2__icon {
  font-family: "IntroDemoCondLightCAPS";
  display: inline-block;
  width: 78px;
  padding: 5px;
  font-size: 22px;
  text-align: center;
  transition: transform var(--accordion-time) ease-out;

  @include mobile {
    font-size: 18px;
  }
}

.is-open .accordionL2__icon {
  // transform: rotate(45deg);
}

.is-open .accordionL2__content {
  opacity: 1;

}
