.intro {
  background-color: var(--color-black);
  text-align: center;
  position: fixed;
  z-index: 0;
  top: 88px;
  left: 0;
  padding-top: 100px;
  height: 700px;
  width: 100%;
  @include mobile {
    padding-top: 40px;
  }
}
.intro-logo {
  //margin-bottom: 10px;
  @include mobile {
    // margin-bottom: 14px;
  }
}
.intro-desc {
  margin: 30px;
  margin-bottom: 50px;
  color: var(--main-white);
  font-size: 22px;
  line-height: 27px;
  // @include mobile {

  // }
}
.intro-empty {
  height: 5px;
  margin-top: 1000px;
  // opacity: 0.5;
  // background-color: green;
  background-color: transparent;
  @include mobile {
    margin-top: 700px;
  }

}
.intro-buffer {
  height: 60px;
}

.intro-vid {
  z-index: 5;
  text-align: center;
  margin: 0;
}

.i-video {
  width: 100vw;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
}

.anchor-aos-vid {
  //top: 50px;
  //position: absolute;
  width: 40px;
  //background-color: red;
  z-index: 20;
}
.buffer-black {
  height: 400px;
  background-color: var(--color-black);
}


[data-aos="vid-animation"] {
  //opacity: 0;
  transform: scale(0.4, 0.4);
  transition-property: transform, translate;

  &.aos-animate {
    transform: scale(1, 1);
    transform: translateY(-100px);
  }

  // @media screen and (min-width: 768px) {
  //   transform: translateX(100px);

  //   &.aos-animate {
  //     transform: translateX(0);
  //   }
  // }
}

