//3D пачка на главной

.sticky-wrapper {
  height: 2900px; // .highlights height - 1647px  + 500
  overflow: visible;
  position: relative;
  z-index: 50;
  // background-color: gray;
  background-color: var(--color-black);
}
.sticky {
  top: 150px;
  position: sticky;
  position: -webkit-sticky;
  //border: 1px dashed orange;
}

#stretcher-pachka {
  width: 1px;
  height: 2000px;
}

#pachka-box {
  transform: scale(0.6) translateY(-40%);
  //border: 1px dashed red;
  width: 1000px;
  height: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url($rootpath + "/img/sprites/doi_sprite_1000.png");
  background-repeat: repeat-x;
  animation: pachka steps(35);
  animation-timeline: scroll();
}

@keyframes pachka {
  0% {
    background-position: 0px;
  }
  100% {
    //background-position: -17500px;
    background-position: -35000px;
  }
}
