.department {
  background-color: var(--main-beige);
  padding: 0 55px;
  padding-top: 80px;
  padding-bottom: 150px;
  @include mobile {
    padding: 40px 0 80px 24px;
  }
}

h1 {
  @include mobile {
    font-size: 29px;
    line-height: 36px;
  }
}

.head-h0 {
  @include mobile {
  font-size: 42px;
  line-height: 46px;
}
}
p {
    @include mobile {
        font-size: 18px;
        line-height: 24px;
      }
}

.dep-container{
  position: relative;
  min-height: 500px;
  z-index: 0;
}

.dep-card {
  position: absolute;
  padding: 60px 30px 80px 130px;
  top: 0;
  left: 0;
  min-height: 200px;
  max-height: 420px;
  width: 60%;
  z-index: 10;
  background-color: var(--color-black);
  background-image: url($rootpath + 'img/line-cmilk-card-vert.png');
  background-repeat: no-repeat;
  background-position: 80px 110px;
  @include mobile {
    position: relative;
    padding: 24px 64px;
    width: 100vw;
    background-position: 32px 62px;
    background-size: 1px 70%;

  }


  &_back {
    top: 120px;
    left: 35%;
    background-color: var(--main-bronze);
    background-image: none;
    z-index: 8;
    position: relative;
    overflow: hidden;
    @include mobile {
      top: 0;
      left: 0;
      position: relative;
      width: fit-content;
      margin-left: auto;
      margin-right: 0;
      height: 230px;
    }
  }

  &__pic {
    height: 300px;
    margin-left: 55%;
    margin-bottom: -5px;
    margin-top: 60px;
    @include mobile {
        margin: 0;
        height: 200px;
        margin-left: 30px;
        margin-top: 30px;
      }
  }

  &__link {
    text-transform: uppercase;
    // position: absolute;
    // bottom: 0;
    color: var(--main-white);
    font-size: 22px;
    line-height: 27px;
    @include mobile {
        font-size: 14px;
        line-height: 17px;
    }
    img {
      margin-left: 15px;
      margin-bottom: -2px;
    }
  }

}
.dep-card h1 {
      color: var(--main-white);
      margin-top: 60px;
      @include mobile {
        margin-top: 24px;
      }
    }

.dep-card p {
      color: var(--main-white);
      font-size: 22px;
      line-height: 27px;
      @include mobile {
        font-size: 18px;
        line-height: 24px;
        width: 70%;
        }
    }
