.intro {
  background-color: var(--color-black);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 160px;
}

.intro-desc {
  margin: 30px;
  color: var(--main-white);
  font-size: 22px;
  line-height: 27px;
}

.intro-buffer {
  height: 60px;
}

.video-container {
  width: 100%;
}

.i-video {width: 100%;}
