.keys {
  background-color: var(--main-beige);

  padding: 140px 55px;
  z-index: 15;
  @include mobile {
    padding: 90px 24px 96px 24px;
  }

  &__cards {
    color: var(--main-black);
    grid-template-columns: repeat(3, 1fr); //minmax(0, 430px)
    justify-content: space-between;
    grid-gap: 32px 0;
    @include mobile {
      grid-template-columns: 100%;
      grid-gap: 24px;
    }
  }
  &__item {
      max-width: 430px;
      min-width: 250px;
      background: url($rootpath + 'img/line-card-vert.png') no-repeat right 32px;
      background-clip: padding-box;
      @include mobile {
          background: url($rootpath + 'img/line-card-vert.png') no-repeat left 24px;
        }
    }

  &__top {
      align-items: center;
      @include mobile {
        margin-bottom: 38px;
      }
    }
      h1 {
        text-align: center;
        color: var(--dark-bronze);
      }
}
.keys .container, .keys .container * {
  z-index: 2;
}

.keys-card {
  // border: 1px dashed green;
  z-index: 15;
  background: url($rootpath + 'img/line-card.png') no-repeat;
  margin: 0 32px;
  height: 100%;
  position: relative;
  @include mobile {
      margin-right: 0;
      background-position-x: 24px;
      padding: 24px 16px 0 16px;
    }
  &__icon {
    margin-top: 54px;
    width: 61px;
    height: auto;
    @include mobile {
      margin-top: 0;
      //padding: 0 0 0 16px;
    }

  }
  &__link {
    position: absolute;
    vertical-align: middle;
    bottom: 0;
    img {
      /* height: 10px; */
    }

    @include hover {
      /*color: white; */
      }
  }
  h2 {
    margin: 20px 0;
    margin-right: 30px;
  }
  p {
    margin: 0;
    margin-bottom: 40px;
    font-size: 18px;
    // margin-bottom: 30px;
  }
}

