.intro {
  background-color: var(--color-black);
  text-align: center;
  position: fixed;
  z-index: 0;
  top: 88px;
  left: 0;
  padding-top: 100px;
  height: 700px;
  width: 100%;


}
.intro-empty {
  height: 1000px;
  opacity: 0.5;
  //background-color: green;

}
.intro-buffer {
  height: 60px;
}

.intro-vid {
  background-color: black;
  opacity: 0.8;
  z-index: 5;
  text-align: center;
  margin: 0;
}

.i-video {
  width: 100vw;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
}

.anchor-aos-vid {
  // top: 50px;
  // position: absolute;
  width: 40px;
  //background-color: red;
  z-index: 20;
}
.buffer-black {
  height: 400px;
  background-color: var(--color-black);
}


[data-aos="vid-animation"] {
  //opacity: 0;
  transform: scale(0.4);
  transition-property: transform, translate;

  &.aos-animate {
    transform: scale(1);
    transform: translateY(-200px);
  }

  // @media screen and (min-width: 768px) {
  //   transform: translateX(100px);

  //   &.aos-animate {
  //     transform: translateX(0);
  //   }
  // }
}

.intro-desc {
  margin: 30px;
  color: var(--main-white);
  font-size: 22px;
  line-height: 27px;
}


