.graph-modal {
  &__container {
    width: 630px;
    border-radius: 0;
    padding: 48px 104px 56px;
    z-index: 100;
    @include mobile {
      width: calc(100vw - 48px);
      max-width: 390px;
      margin: 24px;
      padding: 24px;
      top: 0;
      // transform: translateY(-190%);
    }
  }
  &__close {
    top: 24px;
    right: 24px;
    width: 15px;
    height: 15px;
    @include mobile {
      padding: 15px;
      margin: 8px;
      background-position: center;
      background-size: 16px;
      background-repeat: no-repeat;
    }
  }
  &__content button {
    margin-top: 20px;
    width: 100%;
  }
  &:before {
    @include mobile {
      width: 100%;
      position: absolute;
    }
  }
}

.graph-modal.is-open {
  @include mobile {
    //bottom: 20vh;
    top: 0;
    padding-top: 24px;
    padding-bottom: 30%;
  }
}

.graph-modal__container#stForm2 {
  h2{
    margin-top: 0;
  }
}
