
.new-pizza > section {
  padding: 25px 55px;
  @include mobile {
    padding: 24px 24px;
  }
}

h1 {
  @include mobile {
    font-size: 29px;
    line-height: 36px;
  }
}

.head-h0 {
  @include mobile {
    font-size: 42px;
    line-height: 46px;
  }
}

p {
  @include mobile {
    font-size: 18px;
    line-height: 24px;
  }
}



section.new-header {
  color: var(--main-black);
  background-color: var(--main-beige);
  h1 {
    color: var(--main-black);
    text-align: center;
    margin-bottom: 40px;
  }
}
section.new-header.black {
  color: var(--main-white);
  background-color: var(--color-black);
  h1 {
    color: var(--main-white);
  }

}
