.card {
  padding: 80px;
  width: 66%;
  max-width: 875px;
  background-color: var(--color-black);
  color: var(--main-white);
  @include mobile {
    padding: 32px 32px 48px;
    width: 100%;
  }
  &-image {
    position: absolute;
    top: 160px;
    right: 0;
    width: 49%;
    max-width: 648px;
    @include mobile {
      width: 100%;
      position: static;
    }
  }

  &__wrapper {
    padding: 72px 48px 48px;
    position: relative;
    @include mobile {
      padding: 24px 0 56px 24px;
    }
    &:before, &:after {
      content: '';
      display: block;
      background: var(--coffee-milk);
      position: absolute;
      opacity: .4;
    }
    &:before {
      width: calc(100% - 32px);
      height: 1px;
      left: 32px;
      top: 0;
      @include mobile {
        width: calc(100% - 24px);
        left: 24px;
      }
    }
    &:after {
      width: 1px;
      height: calc(100% - 32px);
      left: 0;
      top: 32px;
    }
  }

  &__link {
    text-transform: uppercase;
    color: var(--main-white);
    font-size: 22px;
    line-height: 27px;
    display: block;
    margin-bottom: 24px;

    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }

    img {
      margin-left: 15px;
      margin-bottom: -2px;
    }
  }

  .title {
    color: var(--main-white);
    margin-top: 0;
    margin-bottom: 12px;
    @include mobile {
      font-size: 29px;
      line-height: 36px;
    }
  }

  p {
    color: var(--main-white);
    font-size: 22px;
    line-height: 27px;
    width: 400px;
    margin-top: 0;
    strong {
      display: block;
      white-space: nowrap;
      font-weight: 700;
    }

    @include mobile {
      font-size: 18px;
      line-height: 24px;
      width: 100%;
    }
  }
}

.section {
  background-color: var(--main-beige);
  padding: 12px 56px 160px;
  @include mobile {
    padding: 40px 24px 80px 24px;
  }
  &__wrapper {
    width: 100%;
    max-width: 1328px;
    margin: 0 auto;
    position: relative;
  }
  &--reverse {
    padding-top: 100px;
    .card {
      margin-left: auto;
      text-align: right;
      &__wrapper {
        @include mobile {
          padding-left: 0;
          padding-right: 24px;
        }
        &:after {
          left: unset;
          right: 0;
        }
        &:before {
          left: 0;
        }
      }
      &-image {
        left: 0;
        right: unset;
      }
    }
  }
}
