.startups section {
  padding: 25px 55px 160px 55px;
  @include mobile {
    padding: 25px 24px 160px 24px;
  }
}

section.back-black {
  position: absolute;
  background-color: transparent; // var(--color-black);
  padding: 16px 55px 10px 55px;
  z-index: 10;
  @include mobile {
    padding: 32px 24px 10px 24px;
  }
}
.st_title {
  font-family: "IntroDemoCondLightCAPS", sans-serif;
  font-size: 65px;
  font-weight: 300;
  line-height: 81px;
  color: var(--main-bronze);
  margin: 0;
  @include mobile {
    font-size: 42px;
    line-height: 46px;
  }
}
p {
  margin: 0;
}

section.st-head {
  position: fixed;
  width: 100vw;
  top: 0;
  color: var(--main-white);
  background-color: var(--color-black);
  height: 100vh;
  padding-top: var(--header-height);
  padding-bottom: 0;
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .st_title {
    color: var(--main-bronze);
  }
}
.st-head {
  &__action {
    max-width: 520px;
    width: 40%;
    height: 200px;
    margin-left: calc(50% - 40px - 80px);
    margin-top: calc(33.5rem - var(--header-height));
    position: relative;
    @include mobile {
      width: 100%;
      height: auto;
      margin: 0;
      padding-top: 39.78vh;
      padding-left: 29.33vw;
      padding-right: 8.8vw;
    }
    .st_title {
      margin-bottom: 24px;
      margin-top: 0;
      @include mobile {
        font-size: 42px;
        line-height: 46px;
      }
    }
    p {
      margin: 0;
      font-size: 22px;
      @include mobile {
        font-size: 18px;
      }
    }
  }
  &__tip {
    position: absolute;
    width: 36em;
    height: 36em;
    padding: 10em 40px 0 40px;
    border: 1px solid rgba(192, 179, 168, 0.3);
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-70%, -45%);
    text-align: center;
    color: var(--coffee-milk);
    @include mobile {
      width: 83.2vw;
      height: 83.2vw;
      padding-top: 10.34vh;
      transform: translate(6.4vw, 12vh);
    }
    p {
      color: var(--coffee-milk);
    }
  }
}

section.st-idea {
  padding: 0 56px 243px;
  @include mobile {
    padding: 0 24px 145px;
  }
}
.st-idea {
  color: var(--main-white);
  background-color: var(--color-black);
  position: relative;
  overflow-x: hidden;
  counter-reset: item;
  padding: 0 24px;
  @include mobile {
    padding-bottom: 145px;
  }
  > .st_title {
    color: var(--main-white);
    text-align: center;
    margin-top: 160px;
    margin-bottom: 241px;
  }

  &__item {
    position: relative;
    width: 475px;
    margin-left: 50%;
    padding: 27px 0 0 55px;
    @include mobile {
      width: calc(100% - 52px);
      margin-left: 0;
      padding-top: 55px;
      padding-left: 32px;
    }

    &:after {
      counter-increment: item;
      content: "0" counter(item);
      display: block;
      position: absolute;
      font-size: 22px;
      line-height: 28px;
      font-family: "IntroDemoCondLightCAPS", sans-serif;
      top: 0;
      left: 0;
    }

    &:before {
      content: '';
      display: block;
      width: 421px;
      height: 421px;
      border: 1px solid rgba(192, 179, 168, 0.5);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transform: translate(-60px, -140px);
      @include mobile {
        transform: translate(-47px, -105px);
      }
    }

    .st_title {
      margin: 0;
      white-space: nowrap;
      @include mobile {
        font-size: 42px;
        line-height: 46px;
        white-space: normal;
      }
    }

    p {
      width: 400px;
      font-size: 22px;
      margin: 8px 0 0;
      @include mobile {
        font-size: 18px;
        margin-top: 20px;
        width: 100%;
        span {
          white-space: nowrap;
        }
      }
    }
    &:nth-of-type(1) {
      margin-bottom: 89px;
      transform: translateX(-485px);
        @include mobile {
          transform: translateX(52px);
          margin-bottom: 256px;
        }
    }
    &:nth-of-type(2) {
      margin-bottom: 216px;
      transform: translateX(200px);
        @include mobile {
          transform: translateX(0);
          margin-bottom: 256px;
          text-align: right;
          padding-left: 0;
          padding-right: 32px;
          &:after {
            left: unset;
            right: 0;
          }
          &:before {
            left: unset;
            right: 0;
            transform: translate(47px, -105px);
          }
        }
    }
    &:nth-of-type(3) {
      transform: translateX(-265px);
        @include mobile {
          transform: translateX(52px);
        }
    }
  }

}

.st-keys {
  margin-top: 100vh;
  background: var(--main-beige);
  position: relative;
  z-index: 10;
  &__container {
    margin-top: 160px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 160px;
    @include mobile {
      flex-direction: column;
    }
    &-content {
      width: 50%;
      padding: 0 16px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      @include mobile {
        width: 100%;
        margin-bottom: 64px;
        padding: 0;
      }
      .st_title {
        margin: 0 0 12px;
        font-size: 42px;
        line-height: 46px;
        color: var(--main-black);
        width: 420px;
        .mobile {
          display: none;
        }
        @include mobile {
          max-width: 100%;
          white-space: break-spaces;
          .mobile {
            display: inline;
          }
          .desktop {
            display: none;
          }
        }
      }
      p {
        font-size: 22px;
        width: 420px;
        @include mobile {
          font-size: 18px;
          max-width: 100%;
        }
      }
    }
    picture {
      width: 50%;
      padding: 0 16px;
      display: flex;
      justify-content: flex-end;
      @include mobile {
        width: 100%;
        margin-bottom: 20px;
        justify-content: flex-start;
      }
    }
    &:nth-of-type(2) {
      flex-direction: row-reverse;
      @include mobile {
        flex-direction: column;
      }
      picture {
        justify-content: flex-start;
        @include mobile {
          justify-content: flex-end;
        }
      }
      .st-keys__item-content {
        align-items: flex-end;
        text-align: right;
      }
    }
    &:nth-of-type(3) {
      margin-bottom: 120px;
    }
  }

  &__btn {
    display: block;
    margin: 120px auto 32px auto;
    width: 329px;
    @include mobile {
      width: 100%;
    }
  }
}

.st-form {
  background: var(--main-beige);
  position: relative;
  z-index: 10;
  .st_title {
    margin: 0 0 12px;
    color: var(--main-bronze);
    font-size: 42px;
    line-height: 46px;
  }
  &__container {
    margin-top: 140px;
    grid-template-columns: repeat(3, 1fr);
    gap: 160px 64px;

    @include mobile {
      display: flex;
      gap: 0;
      flex-direction: column;
    }
  }

  &__item {
    border-top: 1px solid rgba(192, 179, 168, .3);
    padding: 24px 0;
    position: relative;
    @include mobile {
      margin: 0;
    }
    p {
      font-size: 22px;

      @include mobile {
        font-size: 18px;
      }
    }
    &:nth-of-type(1) {
      text-align: right;
      @include mobile {
        order: 0;
        text-align: left;
        padding-left: 0;
        margin-left: 17px;
      }
      &:before {
        content: "";
        display: block;
        height: 250px;
        width: 1px;
        opacity: .3;
        background: var(--coffee-milk);
        position: absolute;
        top: 38px;
        right: -32px;
        @include mobile {
          left: -16px;
          top: 25px;
          height: calc(100% - 49px);
        }
      }
    }
    &:nth-of-type(2) {
      @include mobile {
        order: 2;
      }
    }
    &:nth-of-type(3) {
      @include mobile {
        order: 1;
        padding-left: 0;
        margin-left: 17px;
      }
      &:before {
        content: "";
        display: block;
        height: 250px;
        width: 1px;
        opacity: .3;
        background: var(--coffee-milk);
        position: absolute;
        top: 38px;
        left: -32px;
        @include mobile {
          left: -16px;
          top: 25px;
          height: calc(100% - 49px);
        }
      }
    }
  }
}
