.burger {
  width: 44px;
  height: 44px;
  position: relative;

  &__line {
    position: absolute;
    background-color: var(--main-bronze);
    height: 2px;
    width: 32px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    &:first-child {
        margin-top: 10px;
      }

    &:last-child {
      margin-top: -10px;
    }
  }

  @include small-desktop {
    margin-left: auto;
  }

  @include mobile {
    margin-left: auto;
  }
}


.topmenu-mobile {
  position: absolute;
  z-index: 20;
  top: 50px;
  background-color: cornsilk;
  width: 200px;
  height: 300px;

  @include desktop {
    display: none;
  }

  @include small-desktop {
    display: block;
  }

  @include mobile {
    display: block;
  }
}

.menu--active {
 background-color: yellow;
}
