/* поиск в верхнем меню на десктопах */

.searchanchor {
  width: 30px;
  height: 30px;
}
.searchbox {
  position: absolute;
  top: 10px;
  right: 0;
  background: var(--color-black);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.searchbox.active>.searchinput {
  width: 440px;
  padding: 0 8px;
  margin-right: 30px;
}

.searchbox.active>.searchsearch {
  width: 120px;
  height: 49px;
  padding: 0 30px;
  margin-right: 18px;
  opacity: 1;
  font-size: 16px;
}

.searchbox.active>.searchbutton {
  color: var(--main-bronze);
}

.searchbutton {
  color: var(--main-white);
  background-color: var(--color-black);
  border: 0;
  padding-top: 5px;
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.searchinput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: var(--main-white);
  font-size: 16px;
  transition: 0.4s;
  line-height: 49px;
  width: 0px;
}

.searchsearch {
  width: 0px;
  height: 0px;
  padding: 0;
  opacity: 0;
  color: var(--main-white);
  background-color: transparent;
  font-size: 0;
  border: 1px solid var(--main-white);
  border-radius: 50px;
  transition: 0.3s ease;

  @include hover {
    color: var(--main-white);
    background-color: var(--main-bronze);
    border-color: var(--main-bronze);
    cursor: pointer;
  }
}

/* поиск в мобильном меню */

.searchbox-mob {
  background: var(--color-black);
  height: 40px;
}

.searchbox-mob > .searchinput-mob {
  width: 100%;
  padding: 0 8px;
  border-bottom: 1px solid var(--medium-gray);
}

.searchbutton-mob {
  color: var(--main-white);
  background-color: var(--color-black);
  border: 0;
  float: right;
  width: 0;
  opacity: 0;
  height: 40px;
  margin: -2px 0 0 -45px;
  cursor: pointer;
  transition: 0.2px;
  @media  (max-width: 500px) {
    margin-right: 50px;
  }
}

.menu--active * .searchbutton-mob {
  width: 40px;
  opacity: 1;
}

.searchinput-mob {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: var(--main-white);
  font-size: 16px;
  line-height: 49px;
}
