<div class="brands-content grid">
  <div class="brands-content__info">
    <div class="container brands-info">
      <div class="brands-info__bg"></div>
      <div class="brands-info__content flex">
        <div class="brands-info__text brands-info__text_kids">
          <h1>Детское <br/>питание</h1>
          <p>Поставляем оладьи, сырники, вареники и блины в школы Москвы и Московской области</p>
        </div>
        <div class="brands-info__pic brands-info__pic_kids">
          <img src="img/brands-kids-pic.png" />
        </div>
      </div>
    </div>
  </div>
</div>
