<ul class="list-reset brandmenu desktop">
  <li><a class="brandmenu__link active" href="#">пельмени</a></li>
  <!-- onclick - для демонстрации прелоада, можно стирать -->
  <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link" >блины</a></li>
  <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link"  >сырники</a></li>
</ul>

<ul class="list-reset brandmenu mobile">
  <div class="accordion">
    <li><a class="brandmenu__link active" href="#">пельмени</a></li>
  </div>
  <!-- onclick - для демонстрации прелоада, можно стирать -->
  <div class="panel">
    <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link">блины</a>
    </li>
    <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link">сырники</a>
    </li>
  </div>
</ul>
