  <ul class="list-reset brandmenu panel">
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="pelm1234"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="1"
        data-subbrand-url="img/sprites/sprite_box_pelm.png"
      >пельмени</a>
    </li>
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="pelm1234"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="1"
        data-subbrand-url="img/sprites/sprite_box_pelm.png"
      >Сырники</a>
    </li>
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="pelm1234"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="1"
        data-subbrand-url="img/sprites/sprite_box_pelm.png"
      >Блины</a>
    </li>

  </ul>

