
  <ul class="list-reset brandmenu panel">
    <li>
      <a
        class="brandmenu__link active"
        data-subbrand-id="pelm1234"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="1"
        data-subbrand-url="img/sprites/sprite_pack_black.png"
      >пельмени</a>
    </li>
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="varenik1"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="1"
        data-subbrand-url="img/sprites/sprite_pack_yellow.png"
        >вареники</a
      >
    </li>
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="bliny88"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="0.8"
        data-subbrand-url="img/sprites/sprite_blini.png"
        >блины</a
      >
    </li>
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="kotlet1"
        data-subbrand-imgtype="3d"
        data-subbrand-scale="1"
        data-subbrand-url="img/sprites/sprite_kotl.png"
        >котлеты</a
      >
    </li>
    <li>
      <a
        class="brandmenu__link"
        data-subbrand-id="vegg3242432"
        data-subbrand-imgtype="image"
        data-subbrand-scale="1"
        data-subbrand-url="img/brands-sk-cutlet.png"
        >vegan</a
      >
    </li>
    <li>
      <a class="brandmenu__link"
         data-subbrand-id="h4639d"
         data-subbrand-imgtype="3d"
         data-subbrand-scale="1.2"
         data-subbrand-url="img/sprites/sprite_pizza.png">
        пицца</a>
    </li>
    <li><a class="brandmenu__link">халяль</a></li>
    <li><a class="brandmenu__link">kids</a></li>
    <li><p class="brandmenu__link" disabled>--demo--</p></li>
    <li>
      <a class="brandmenu__link"
         data-subbrand-id=""
         data-subbrand-imgtype="3d"
         data-subbrand-scale="1"
         data-subbrand-url="img/sprites/sprite_pack_red.png">
        Пельмени классические</a>
    </li>
    <li>
      <a class="brandmenu__link"
         data-subbrand-id=""
         data-subbrand-imgtype="3d"
         data-subbrand-scale="1"
         data-subbrand-url="img/sprites/sprite_mini_hink.png">
        Мини хинкали</a>
    </li>
    <li>
      <a class="brandmenu__link"
         data-subbrand-id=""
         data-subbrand-imgtype="3d"
         data-subbrand-scale="1"
         data-subbrand-url="img/sprites/sprite_mini_pelm.png">
        Мини пельмени</a>
    </li>
    <li>
      <a class="brandmenu__link"
         data-subbrand-id=""
         data-subbrand-imgtype="3d"
         data-subbrand-scale="1"
         data-subbrand-url="img/sprites/sprite_signal_pack_purple.png">
        Пельмени фарш на молоке Фиолетовые</a>
    </li>
    <li>
      <a class="brandmenu__link"
         data-subbrand-id=""
         data-subbrand-imgtype="3d"
         data-subbrand-scale="1"
         data-subbrand-url="img/sprites/sprite_signal_pack_yellow.png">
        Пельмени 4 вида мяса</a>
    </li>
  </ul>

