<div class="view360" id="view360">
  <div class="view360__preloader">
    <div class="container">@include('../partials/brands_preloader.html')</div>
  </div>
  <div class="view360__content">
    <div>
      <!-- здесь будет 3д спрайт, с другой высотой-->
      <img src="img/brands-sksel-pic.png"   alt=""/>
    </div>
  </div>
  <div class="view360__nav">
    <div class="view360__icon"><img src="img/svg/icon360.svg" /></div>
    <div class="view360__link">
      <span class="arr-right-on">
        <a href="#">АССОРТИМЕНТ КАТЕГОРИИ
          @include('../partials/arrowright.html')
        </a>
      </span>
    </div>
  </div>

</div>
