<ul class="list-reset brandmenu desktop">
  <li><a class="brandmenu__link" href="#">пельмени</a></li>
  <!-- onclick - для демонстрации прелоада, можно стирать -->
  <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link">вареники</a>
  </li>
  <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link">блины</a>
  </li>
  <li><a href="#" class="brandmenu__link active">котлеты</a></li>
  <li><a href="#" class="brandmenu__link">vegan</a></li>
  <li><a href="#" class="brandmenu__link">пицца</a></li>
  <li><a href="#" class="brandmenu__link">халяль</a></li>
  <li><a href="#" class="brandmenu__link">kids</a></li>
  <li><a href="#" class="brandmenu__link">пункт</a></li>
  <li><a href="#" class="brandmenu__link">пункт</a></li>


</ul>
<div class="menu-container mobile">
  <ul class="list-reset brandmenu accordion">
    <li><a class="brandmenu__link active">котлеты</a></li>
  </ul>

  <div class="panel">
    <ul class="list-reset brandmenu">
      <li onclick="document.getElementById('view360').classList.toggle('loading');"><a
          class="brandmenu__link">вареники</a>
      </li>
      <li onclick="document.getElementById('view360').classList.toggle('loading');"><a class="brandmenu__link">блины</a>
      </li>
      <li><a href="#" class="brandmenu__link">vegan</a></li>
      <li><a href="#" class="brandmenu__link">пицца</a></li>
      <li><a href="#" class="brandmenu__link">халяль</a></li>
      <li><a href="#" class="brandmenu__link">kids</a></li>
      <li><a href="#" class="brandmenu__link">пункт</a></li>
      <li><a href="#" class="brandmenu__link">пункт</a></li>
    </ul>
  </div>
</div>
