<div class="brands-content grid">
  <div class="brands-content__info brands-content__info_horeca">
    <div class="container brands-info">
      <div class="brands-info__bg"></div>
      <div class="brands-info__content flex">
        <div class="brands-info__text brands-info__text_horeca">
          <h1>HORECA</h1>
          <p>Изготавливаем и поставляем продукцию в кафе, рестораны и отели</p>
          <button class="btn-reset btn-primary">отправить запрос</button>
          <button class="btn-reset btn-secondary">
            скачать каталог&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
              <path
                d="M3.29435 8.5L8.00023 13.3366L12.7061 8.54686M8.00023 0.5V13.0714M0.941406 16.5H15.0591"
                stroke="#A3784E"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="brands-info__pic brands-info__pic_horeca">
          <img src="img/horeca-pic.png" />
        </div>
      </div>
    </div>
  </div>
</div>
