<ul class="list-reset brandmenu desktop">
  <li>
    <a
      class="brandmenu__link active"
      data-subbrand-id="pelm1234"
      data-subbrand-imgtype="image"
      data-subbrand-url="../img/brands-sk-r-pic2.png"
      >пельмени</a
    >
  </li>
  <li>
    <a
      class="brandmenu__link"
      data-subbrand-id="varenik1"
      data-subbrand-imgtype="image"
      data-subbrand-url="../img/brands-sk-cutlet.png"
      >вареники</a
    >
  </li>
  <li>
    <a
      class="brandmenu__link"
      data-subbrand-id="bliny88"
      data-subbrand-imgtype="3d"
      data-subbrand-url="../img/sprites/kotlety_sprite.png"
      >блины</a
    >
  </li>
  <li>
    <a
      class="brandmenu__link"
      data-subbrand-id="kotlet1"
      data-subbrand-imgtype="3d"
      data-subbrand-url="../img/sprites/kotlety_sprite.png"
      >котлеты</a
    >
  </li>
  <li>
    <a
      class="brandmenu__link"
      data-subbrand-id="vegg3242432"
      data-subbrand-imgtype="image"
      data-subbrand-url="../img/brands-sk-cutlet.png"
      >vegan</a
    >
  </li>
  <li>
    <a class="brandmenu__link" data-subbrand-id="h4639d" data-subbrand-imgtype="3d" data-subbrand-url="">пицца</a>
  </li>
  <!-- выше демонстрация, у остальных пунктов тоже должны быть атрибуты data- -->
  <li><a class="brandmenu__link">халяль</a></li>
  <li><a class="brandmenu__link">kids</a></li>
  <li><a class="brandmenu__link">пункт</a></li>
  <li><a class="brandmenu__link">пункт</a></li>
</ul>
<div class="menu-container mobile">
  <ul class="list-reset brandmenu accordion">
    <li><a class="brandmenu__link active">котлеты</a></li>
  </ul>

  <div class="panel">
    <ul class="list-reset brandmenu">
      <li>
        <a
          class="brandmenu__link active"
          data-subbrand-id="pelm1234"
          data-subbrand-imgtype="image"
          data-subbrand-url="../img/brands-sk-r-pic2.png"
          >пельмени</a
        >
      </li>
      <li>
        <a
          class="brandmenu__link"
          data-subbrand-id="varenik1"
          data-subbrand-imgtype="image"
          data-subbrand-url="../img/brands-sk-cutlet.png"
          >вареники</a
        >
      </li>
      <li>
        <a
          class="brandmenu__link"
          data-subbrand-id="bliny88"
          data-subbrand-imgtype="3d"
          data-subbrand-url="../img/sprites/kotlety_sprite.png"
          >блины</a
        >
      </li>
      <li>
        <a
          class="brandmenu__link"
          data-subbrand-id="kotlet1"
          data-subbrand-imgtype="3d"
          data-subbrand-url="../img/sprites/kotlety_sprite.png"
          >котлеты</a
        >
      </li>
      <li>
        <a
          class="brandmenu__link"
          data-subbrand-id="vegg3242432"
          data-subbrand-imgtype="image"
          data-subbrand-url="../img/brands-sk-cutlet.png"
          >vegan</a
        >
      </li>
      <li>
        <a class="brandmenu__link" data-subbrand-id="h4639d" data-subbrand-imgtype="3d" data-subbrand-url="">пицца</a>
      </li>
      <!-- выше демонстрация, у остальных пунктов тоже должны быть атрибуты data- -->
      <li><a class="brandmenu__link">халяль</a></li>
      <li><a class="brandmenu__link">kids</a></li>
      <li><a class="brandmenu__link">пункт</a></li>
      <li><a class="brandmenu__link">пункт</a></li>
    </ul>
  </div>
</div>
