<div class="view360" id="view360">
  <div class="view360__preloader">
    <div class="container">@include('../partials/brands_preloader.html')</div>
  </div>
  <div class="view360__content view360__content_sk">
    <div>
      <!-- здесь будет 3д спрайт, с другой высотой-->
      <!--   <img src="img/brands-sk-cutlet.png" alt="" /> -->

      <!-- 3D: -->
      <style>
        .sprite-container {
          transform: scale(0.5) translate(-40%, -50%);
        }

        #sprite-box {
          width: 1132px;
          height: 1132px;
          display: block;
          background-image: url("img/sprites/kotlety_sprite.png");
          animation: sprite 2.7s steps(36) infinite;
        }

        .animated {
          background-color: yellowgreen;
        }
        .sprite-img {
        }

        @keyframes sprite {
          100% {
            background-position: -40752px;
          }
        }
      </style>
      <div class="sprite-container">
        <div id="sprite-box"></div>
      </div>
      <script>
        const element = document.querySelector(".view360__icon")
        element.addEventListener("mouseover", function () {
          document.querySelector("#sprite-box").classList.add("animated")
        })
        element.addEventListener("mouseover", function () {
          document.querySelector("#sprite-box").classList.remove("animated")
        })
      </script>
    </div>
  </div>
  <div class="view360__nav">
    <div class="view360__icon"><img src="img/svg/icon360.svg" /></div>
    <div class="view360__link">
      <span class="arr-right-on">
        <a href="#">АССОРТИМЕНТ КАТЕГОРИИ @include('../partials/arrowright.html') </a>
      </span>
    </div>
  </div>
</div>
