<div class="brands-content grid">
    <div class="brands-content__submenu">
      <div class="brands-nav flex">
        <span class="arr-left-on">
          <a href="brands-sk-selective-kids.html">
            @include('../partials/arrowleft.html')
            SK selective <br class="mobile" />kids
          </a>
        </span>

        <span class="arr-right-on">
          <a href="brands-sk.html">Sибирская <br class="mobile"/>коллекция
          @include('../partials/arrowright.html')
          </a>
        </span>
      </div>
    </div>
  <div class="brands-content__info">
    <div class="container brands-info">
      <div class="brands-info__bg"></div>
      <div class="brands-info__content flex">
        <div class="brands-info__text">
          <h1>SK Selective</h1>
          <p>Для тех, кто заботится о своем питании и осознано подходит к выбору продуктов</p>
          <button class="btn-reset btn-primary" onclick="location.href='#details';">категории</button>
        </div>
        <div class="brands-info__pic">
          <img src="img/brands-sksel-pic.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
