<div class="brands-content grid">
  <div class="brands-content__info">
    <div class="container brands-info">
      <div class="brands-info__bg"></div>
      <div class="brands-info__content flex">
        <div class="brands-info__text brands-info__text_horeca">
          <h1>CTM</h1>
          <p>Разрабатываем продукты по запросу под вашим брендом</p>
          <button class="btn-reset btn-primary">отправить запрос</button>
        </div>
        <div class="brands-info__pic brands-info__pic_horeca">
          <!-- <img src="img/horeca-pic.png" /> -->
        </div>
      </div>
    </div>
  </div>
</div>
