<div class="filter__title">Бренды</div>
<button class="btn-filter selected" >Sибирская коллекция</button>
<button class="btn-filter ">SK Selective</button>
<button class="btn-filter">SK Selective Kids</button>

<div class="filter__buffer"></div>

<div class="filter__title">Категория</div>
<button class="btn-filter">Выбрать все</button>
<!-- внутренняя секция 1 уровень категории -->
<div class="btn-filter__item">
  <button class="accordion active">Пельмени</button>
  <div class="panel">
      <!-- внутренняя секция 2 уровень чекбоксы accordion panel -->
      <!-- внутренняя секция должна быть развернута по умолчанию-->
      <div class="filter2nd">
        <button class="btn-reset filter2nd__btn">Премиум</button>
        <div class="filter2nd__panel">
          <br/>
          <div>
            <label class="label-check">Выбрать все
              <input type="checkbox" id="p1" name="pelmeni-premium" value="All" checked>
              <span class="checkmark"></span>
            </label>

          </div>
          <div>
            <label class="label-check">С телятиной
              <input type="checkbox" id="" name="pelmeni-premium" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="label-check">С индейкой
              <input type="checkbox" id="" name="pelmeni-premium" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="label-check">С курицей
              <input type="checkbox" id="" name="pelmeni-premium" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
              <label class="label-check">4 вида мяса
                <input type="checkbox" id="" name="pelmeni-premium" value="" checked>
                <span class="checkmark"></span>
              </label>
          </div>
          <div>
            <label class="label-check">Халяль
              <input type="checkbox" id="" name="pelmeni-premium" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="label-check">Эксклюзив
              <input type="checkbox" id="" name="pelmeni-premium" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <!-- внутренняя секция 2 уровень чекбоксы -->
      <div  class="filter2nd">
        <button class="btn-reset filter2nd__btn">Классика</button>
        <div class="filter2nd__panel">
          <br />
          <div>
            <label class="label-check">Выбрать все
              <input type="checkbox" id="p1" name="pelmeni-classic" value="All" checked>
              <span class="checkmark"></span>
            </label>

          </div>
          <div>
            <label class="label-check">С говядиной
              <input type="checkbox" id="" name="pelmeni-classic" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="label-check">С индейкой
              <input type="checkbox" id="" name="pelmeni-classic" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="label-check">С курицей
              <input type="checkbox" id="" name="pelmeni-classic" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="label-check">4 вида мяса
              <input type="checkbox" id="" name="pelmeni-classic" value="" checked>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <!-- end -->
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Вареники</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Блины</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Котлеты</button>
  <div class="panel">
    <p><!-- filters --></p>
  </div>
</div>


<div class="btn-filter__item">
  <button class="accordion">Vegan</button>
  <div class="panel">
    <p><!-- filters --></p>
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Пицца</button>
  <div class="panel">
    <p><!-- filters --></p>
  </div>
</div>
<div class="btn-filter__item">
  <button class="accordion">Халяль</button>
  <div class="panel">
    <p><!-- filters --></p>
  </div>
</div>


