<div class="filter__title">Бренды</div>
<button class="btn-filter selected" >Sибирская коллекция</button>
<button class="btn-filter ">SK Selective</button>
<button class="btn-filter">SK Selective Kids</button>

<div class="filter__buffer"></div>

<div class="filter__title">Категория</div>
<button class="btn-filter">Выбрать все</button>

<div class="btn-filter__item">
  <button class="accordion">Section 1</button>
  <div class="panel">
        <span>заголовок</span><br/>

        <div>
          <input type="checkbox" id="p1" name="p1" value="All">
          <label for="p1">Выбрать все</label>
        </div>
        <div>
          <input type="checkbox" id="p2" name="p2" value="All">
          <label for="p2">С говядиной</label>
        </div>
        <div><input type="checkbox" id="p3" name="p3" value="All">
        <label for="p3">С говядиной</label></div>
        <div><input type="checkbox" id="p4" name="p4" value="All">
        <label for="p4">С говядиной</label></div>
        <div><input type="checkbox" id="p5" name="p5" value="All">
        <label for="p5">4 вида мяса</label></div>
  <!--    <div>
        <input type="checkbox" id="lang3" name="lang3" value="Go">
        <label for="lang3">Go</label>
      </div>
      <div>
        <input type="checkbox" id="lang4" name="lang4" value="Rust" checked>
        <label for="lang4">Rust</label>
      </div> -->
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Section 2</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Section 3</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>



