<div class="filter__title">Бренды</div>
<button class="btn-filter selected" >Sибирская коллекция</button>
<button class="btn-filter ">SK Selective</button>
<button class="btn-filter">SK Selective Kids</button>

<div class="filter__buffer"></div>

<div class="filter__title">Категория</div>
<button class="btn-filter">Выбрать все</button>

<div class="btn-filter__item">
  <button class="accordion">Section 1</button>
  <div class="panel">
        <br/>
        <div>
          <label class="label-check">Выбрать все
            <input type="checkbox" id="p1" name="p1" value="All">
            <span class="checkmark"></span>
          </label>

        </div>
        <div>
          <label class="label-check">С говядиной
            <input type="checkbox" id="" name="" value="">
            <span class="checkmark"></span>
          </label>
        </div>
        <div>
          <label class="label-check">С говядиной
            <input type="checkbox" id="" name="" value="">
            <span class="checkmark"></span>
          </label>
        </div>
        <div>
          <label class="label-check">С говядиной
            <input type="checkbox" id="" name="" value="">
            <span class="checkmark"></span>
          </label>
        </div>
        <div>
            <label class="label-check">4 вида мяса
              <input type="checkbox" id="" name="" value="">
              <span class="checkmark"></span>
            </label>
          </div>

  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Section 2</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>

<div class="btn-filter__item">
  <button class="accordion">Section 3</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>



