
  <div class="container">
    <h3>Мы на связи</h3>
    <p>Пожалуйста, отправьте свой запрос, и наши сотрудники ответят вам в кратчайшие сроки.</p>
    <form class="form contactform">
      <label class="form__label">
        <input type="text" name="contact-fio" class="input-reset form__input contact-fio" value="" placeholder="Имя"
        data-validate-field="fio"/>
        <span class="close" onclick="console.log(this.previousElementSibling);this.previousElementSibling.value = '';">
          &times;
        </span>
      </label>
      <label class="form__label">
        <input type="email" name="contact-email" class="input-reset form__input contact-email" value=""
          placeholder="Почта" data-validate-field="email"/>
          <span class="close" onclick="this.previousElementSibling.value = ''">
            &times;
          </span>
      </label>
      <label class="form__label">
        <input type="tel" name="contact-tel" class="input-reset form__input contact-tel" value="" placeholder="Телефон"
          data-validate-field="tel"/>
          <span class="close" onclick="console.log(this.previousElementSibling); this.previousElementSibling.value = ''">
            &times;
          </span>
      </label>

      <select name="idea" id="idea" class="custom-select">
        <option value="">Хочу предложить идею</option>
        <option value="val1">Один</option>
        <option value="val2">Два </option>
        <option value="val3">Три</option>
      </select>

      <label class="form__label">
        <input type="text" name="contact-message" class="input-reset form__input contact-message" value=""
          placeholder="Сообщение" data-validate-field="message">
          <span class="close" onclick="this.previousElementSibling.value = ''">
            &times;
          </span>
      </label>

      <!-- dropzone start -->
      <!--     class="dropzone"  -->
      <!-- скрипт для dropzone подключается только на страницах, где есть этот блок -->
      @include('../partials/dropzone_script.html')
      <div id="dropzone" class="dropzone">
        <!--   <form class="dropzone needsclick" id="demo-upload" action="/upload"> -->
        <div class="dz-message needsclick">
          Перетащите файлы или выберите с вашего устройства, чтобы загрузить их<br />
          <br /><span class="note needsclick">jpg, pdf, doc | до 10 Мб</span>
        </div>

        <!-- </form> -->
      </div>
      <!-- dropzone end -->

      <div class="form__agreement">
        <label class="label-check">Я даю свое согласие на обработку моих данных <a href="#" class="linkin">Политики
            конфиденциальности</a> и соглашаюсь с положениями
          <input type="checkbox" name="agreement" id="agreement" value="yes">
          <span class="checkmark"></span>
        </label>
      </div>

      <input type="hidden" name="form_origin" value="Из контактной формы" />
      <button type="submit" class="btn-primary form__submit-btn">Отправить</button>

    </form>

    <!-- демонстрация модального окна после отправки формы. удалить -->
    <button type="submit" class="btn-reset" data-graph-path=""> &rAarr; test modal</button>

</div>

<!-- модальное окно после отправки формы -->
<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h3>СПАСИБО!</h3>
      <p>Мы приняли ваш запрос и уже взяли в работу.<br /> Скоро свяжемся с вами.</p>
      <button class="btn-reset btn-primary" onClick="location.href = '/';">на главную</button>
    </div>
  </div>
</div>



