<div class="cookie-alert" id="cookie-alert">
  <div>
    <p>
      Мы используем<br class="smallscreen" />
      файлы <a href="#">cookie</a>,<br />
      чтобы пользоваться сайтом было удобно
    </p>
    <button
      class="btn-secondary"
      onClick="localStorage.setItem('cookiealert', 'ok'); document.getElementById('cookie-alert').style.opacity = 0;  document.getElementById('cookie-alert').style.visibility = hidden;">
      OK
    </button>
  </div>
  <script type="text/javascript">
    if (localStorage.getItem("cookiealert") == "ok") {
      document.getElementById("cookie-alert").style.visibility = "hidden"
    }
  </script>
</div>
