<div class="cookie-alert" id="cookie-alert">
  <div>
    <p>
      Мы используем файлы <a href="#">cookie</a>,<br />
      чтобы пользоваться сайтом было удобно
    </p>
    <button
      class="btn-secondary"
      onClick="localStorage.setItem('cookiealert', 'ok'); document.getElementById('cookie-alert').style.display = 'none';">
      OK
    </button>
  </div>
  <script type="text/javascript">
    if (localStorage.getItem("cookiealert") == "ok") {
      document.getElementById("cookie-alert").style.display = "none"
    }
  </script>
</div>
