<div class="container">
  <h3 style="margin-top: 0">Сделаем продукт<br />по вашему запросу</h3>
  <form class="form contactform">
    <label class="form__label">
      <input
        type="text"
        name="contact-fio"
        class="input-reset form__input contact-fio"
        value=""
        placeholder="Имя"
        data-validate-field="fio" />
      <span class="close" onclick="console.log(this.previousElementSibling);this.previousElementSibling.value = '';">
        &times;
      </span>
    </label>
    <label class="form__label">
      <input
        type="email"
        name="contact-email"
        class="input-reset form__input contact-email"
        value=""
        placeholder="Почта"
        data-validate-field="email" />
      <span class="close" onclick="this.previousElementSibling.value = ''"> &times; </span>
    </label>
    <label class="form__label">
      <input
        type="tel"
        name="contact-tel"
        class="input-reset form__input contact-tel"
        value=""
        placeholder="Телефон"
        data-validate-field="tel" />
      <span class="close" onclick="console.log(this.previousElementSibling); this.previousElementSibling.value = ''">
        &times;
      </span>
    </label>

    <div class="form__agreement">
      <label class="label-check"
        >Я даю свое согласие на обработку моих данных и соглашаюсь с положениями
        <a href="#" class="linkin">Политики конфиденциальности</a>
        <input type="checkbox" name="agreement" id="agreement" value="yes" />
        <span class="checkmark"></span>
      </label>
    </div>

    <input type="hidden" name="form_origin" value="Из контактной формы" />
    <input type="hidden" name="form_popup" value="creating_modal1" />
    <button type="submit" class="btn-primary form__submit-btn">ЗАКАЗАТЬ РАЗРАБОТКУ</button>
  </form>
</div>

<!-- модальное окно после отправки формы -->
<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="creating_modal1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h3>Спасибо за ваше обращение!</h3>
      <p>Ответим вам в течение 3 дней.</p>
      <button class="btn-reset btn-primary" onClick="location.href = '/';">на главную</button>
    </div>
  </div>
</div>
