<footer class="footer">
  <div class="container flex footer__container footer__t">
    <nav class="footer_nav" title="Нижнее меню">
      <div class="navf">
        <div class="navf__item">
          <div class="accordion">Производство</div>
          <div class="panel">
            <ul class="list-reset navf-sub">
              <li class="navf-sub__item"><a href="quality.html" class="navf-sub__link">Контроль качества</a></li>
              <li class="navf-sub__item">
                <a href="laboratories.html" class="navf-sub__link">Собственные лаборатории</a>
              </li>
              <li class="navf-sub__item">
                <a href="creating-products.html" class="navf-sub__link">Разработка новых продуктов</a>
              </li>
              <li class="navf-sub__item"><a href="#" class="navf-sub__link">Карьера</a></li>
            </ul>
          </div>
        </div>
        <div class="navf__item">
          <div class="accordion">Продукт</div>
          <div class="panel">
            <ul class="list-reset navf-sub">
              <li class="navf-sub__item"><a href="brands-sk.html" class="navf-sub__link">Sибирская коллекция</a></li>
              <li class="navf-sub__item"><a href="brands-sk.html" class="navf-sub__link">SK Selective</a></li>
              <li class="navf-sub__item">
                <a href="brands-sk.html" class="navf-sub__link">SK Selective kids</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="navf__item">
          <div class="empty"><a href="new.html">Новинки</a></div>
        </div>
        <div class="navf__item">
          <div class="empty"><a href="startups.html">Стартапы</a></div>
        </div>
        <div class="navf__item">
          <div class="empty"><a href="contacts.html">Контакты</a></div>
        </div>
      </div>
    </nav>

    <div class="footer_center flex">
      <img class="f-logo" src="img/svg/sk-logo-main.svg" alt="" />
      <a href="#" class="youtube-link desktop">
        <img src="img/youtube-logo.png" alt="" />
      </a>
    </div>
    <div class="footer_info">
      <p>
        ЦЕНТРАЛЬНЫЙ ОФИС<br />
        <span class="phone">+7(495)726-55-38</span><br />
        <span><a href="mailto:info@shmpk.ru" class="email">info@shmpk.ru</a></span>
      </p>
      <p>
        ПРОИЗВОДСТВО<br />
        <span class="phone">+7(495)933-80-71</span><br />
        <span><a href="mailto:info@shmpk.ru" class="email">info@shmpk.ru</a></span>
      </p>
      <p>
        ОТДЕЛ КАЧЕСТВА<br />
        <span class="phone">8-800-250-18-80</span>
        <span class="rf">Звонок по РФ бесплатный</span>
        <span class="email"><a href="mailto:shmpk-kachestvo@shmpk.ru" class="email">shmpk-kachestvo@shmpk.ru</a></span>
      </p>
    </div>
    <a href="#" class="youtube-link mobile">
      <img src="img/youtube-logo.png" alt="" />
    </a>
  </div>
  <div class="container flex footer__container footer__b">
    <span class="desktop">&copy; 2023. ООО «ЩЕЛКОВСКИЙ МПК»</span>
    <a href="#">Политика конфиденциальности</a>
    <a href="#">Правила пользования сайтом</a>
    <a href="#">Пользовательское соглашение</a>
    <span class="mobile">&copy; 2023. ООО «ЩЕЛКОВСКИЙ МПК»</span>
  </div>
</footer>
