<script>

  //служебные
    document.addEventListener("DOMContentLoaded", function (event) {
      console.log('extra', document.querySelector('.extra').getBoundingClientRect().top + window.pageYOffset)
      const extraPosY = Math.round(document.querySelector('.extra').getBoundingClientRect().top + window.pageYOffset)
      localStorage.setItem("extraPosY", extraPosY);
      // document.querySelector(".extra-bg").style.top = extraPosX

    });

  window.addEventListener('scroll', function () {

    const scrollPosition = document.documentElement.scrollTop
    let base = Number(localStorage.getItem("extraPosY"))
    // console.log('extra', base, scrollPosition)
    if (scrollPosition > (base - 600) && scrollPosition < (base + 600)) {
      let posY = 'top ' + (Math.ceil(scrollPosition) - base + 100) * 0.8 + 'px center';
      document.querySelector('.extra').style.backgroundPosition = posY;
    }

  })

  // СКРЫТЬ ПЕРВУЮ СЕКЦИЮ ГЛАВНОЙ, КОГДА РАЗВЕРНЕТСЯ ВИДЕО
  window.addEventListener('scroll', function () {
    const scrollPosition = document.documentElement.scrollTop
    if (scrollPosition > 900 && document.querySelector(".intro").style.visibility === "" || document.querySelector(".intro").style.visibility === "visible") {
      document.querySelector(".intro").style.visibility = "hidden"
    }
    if (scrollPosition < 900 && document.querySelector(".intro").style.visibility === "hidden") {
      document.querySelector(".intro").style.visibility = "visible"
    }

  });

// СКРИПТ ДЛЯ ВЕРХНЕГО МЕНЮ
  let getSiblings = function (e) {
    let siblings = [];
    if (!e.parentNode) {
      return siblings;
    }
    let sibling = e.parentNode.firstChild; // first child of the parent node
    // collecting siblings
    while (sibling) {
      if (sibling.nodeType === 1 && sibling !== e) {
        siblings.push(sibling);
      }
      sibling = sibling.nextSibling;
    }
    return siblings;
  };

  const showTopMenuPanel = (toshow, tohide) => {
    const menuBlock = document.querySelector(toshow);
    const siblings = getSiblings(menuBlock);
    menuBlock.classList.toggle("topmenu_show");
    siblings.forEach((element) => {
      element.classList.remove("topmenu_show");
    });
    if (tohide) {
      document.querySelectorAll(tohide).forEach((element) => {
        element.classList.remove("topmenu_show");
      });
    }
  };

// МОБИЛЬНОЕ МЕНЮ
  function toggleMobMenuPanel(panelClass) {
    console.log(document.querySelector(panelClass))
    document.querySelector(panelClass).classList.toggle('closed');
  }


// МЕНЮ ФУТЕРА
  function accordionInit (classname) {
    var acc = document.getElementsByClassName(classname);
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  }

  accordionInit('accordion');


// ПОИСК В ХЕДЕРЕ
  const searchposX = document.getElementById('searchanchor').getBoundingClientRect().x
  // console.log('searchposX', searchposX)
  document.getElementById('searchbox').style.right = 'calc(100% - ' + (Math.ceil(searchposX) + 30) + 'px)';

  window.addEventListener("resize", (event) => {
    const searchposX = document.getElementById('searchanchor').getBoundingClientRect().x
    document.getElementById('searchbox').style.right = 'calc(100% - ' + (Math.ceil(searchposX) + 30) + 'px)';
  });

  document.getElementById('searchicon').addEventListener('click', (e) => {
    document.getElementById('searchbox').classList.toggle('active')
  })
    // document.getElementById('searchicon').addEventListener('click', (e) => {
    //   e.stopPropagation();
    // })

// ПОИСК В МОБИЛЬНОМ МЕНЮ
  //





</script>
