<script>

  //служебные
   // document.addEventListener("DOMContentLoaded", function (event) {
  //  });

  window.addEventListener('scroll', function () {
    let scrollPosition = document.documentElement.scrollTop
    if (document.querySelector('.extra')) {
      let extraPosY = Math.round(document.querySelector('.extra').getBoundingClientRect().top)
      if (window.innerWidth > 1000) {
          if (extraPosY < 600 && extraPosY > -300) {
            // document.querySelector('.indicator').style.backgroundColor = 'orange';
            // document.querySelector('.extra-bg').style.top = Math.ceil(scrollPosition) + 'px'; top 20px center
            posY = 'top ' + (extraPosY - 620) * 0.7 + 'px center';
            document.querySelector('.extra').style.backgroundPosition = posY;
          } else {
            //document.querySelector('.indicator').style.backgroundColor = 'green';
          }
      } else {
          if (extraPosY < 600 && extraPosY > -300) {
          // document.querySelector('.indicator').style.backgroundColor = 'orange';
          posY = 'top ' + (extraPosY - 700) * 0.4 + 'px center';
          document.querySelector('.extra').style.backgroundPosition = posY;
        } else {
          //document.querySelector('.indicator').style.backgroundColor = 'green';
        }
      }

    }
  })

  // СКРЫТЬ ПЕРВУЮ СЕКЦИЮ ГЛАВНОЙ, КОГДА РАЗВЕРНЕТСЯ ВИДЕО
  window.addEventListener('scroll', function () {
    const scrollPosition = document.documentElement.scrollTop
    if (document.querySelector('.intro')) {
      if (scrollPosition > 800 && document.querySelector(".intro").style.visibility === "" || document.querySelector(".intro").style.visibility === "visible") {
        document.querySelector(".intro").style.visibility = "hidden"
      }
      if (scrollPosition < 800 && document.querySelector(".intro").style.visibility === "hidden") {
        document.querySelector(".intro").style.visibility = "visible"
      }
  }
  });

// СКРИПТ ДЛЯ ВЕРХНЕГО МЕНЮ
  let getSiblings = function (e) {
    let siblings = [];
    if (!e.parentNode) {
      return siblings;
    }
    let sibling = e.parentNode.firstChild; // first child of the parent node
    // collecting siblings
    while (sibling) {
      if (sibling.nodeType === 1 && sibling !== e) {
        siblings.push(sibling);
      }
      sibling = sibling.nextSibling;
    }
    return siblings;
  };

  const showTopMenuPanel = (toshow, tohide) => {
    const menuBlock = document.querySelector(toshow);
    const siblings = getSiblings(menuBlock);
    menuBlock.classList.toggle("topmenu_show");
    siblings.forEach((element) => {
      element.classList.remove("topmenu_show");
    });
    if (tohide) {
      document.querySelectorAll(tohide).forEach((element) => {
        element.classList.remove("topmenu_show");
      });
    }
  };

// МОБИЛЬНОЕ МЕНЮ
  function toggleMobMenuPanel(panelClass) {
    console.log(document.querySelector(panelClass))
    document.querySelector(panelClass).classList.toggle('closed');
  }


// МЕНЮ ФУТЕРА
  function accordionInit (classname) {
    var acc = document.getElementsByClassName(classname);
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  }

  accordionInit('accordion');


// ПОИСК В ХЕДЕРЕ
  const searchposX = document.getElementById('searchanchor').getBoundingClientRect().x
  // console.log('searchposX', searchposX)
  document.getElementById('searchbox').style.right = 'calc(100% - ' + (Math.ceil(searchposX) + 30) + 'px)';

  window.addEventListener("resize", (event) => {
    const searchposX = document.getElementById('searchanchor').getBoundingClientRect().x
    document.getElementById('searchbox').style.right = 'calc(100% - ' + (Math.ceil(searchposX) + 30) + 'px)';
  });

  document.getElementById('searchicon').addEventListener('click', (e) => {
    document.getElementById('searchbox').classList.toggle('active')
  })
    // document.getElementById('searchicon').addEventListener('click', (e) => {
    //   e.stopPropagation();
    // })

// ПОИСК В МОБИЛЬНОМ МЕНЮ
  //





</script>
