<header class="header">
  <div class="container header__container grid">
    <div class="header-grid">
      <a href="#" class="logo">
        <img src="img/sk-logo.png" alt=""/>
      </a>
    </div>
    <div class="header-grid">
      <nav class="nav" title="Главное меню">
        <ul class="list-reset nav__list flex" id="nav__list">
          <li class="nav__item"><a href="#" class="nav__link" id="link-manuf">Производство</a></li>
          <li class="nav__item"><a href="#" class="nav__link" id="link-brands">Продукт</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Новинки</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Стартапам</a></li>
          <li class="nav__item"><a href="contacts.html" class="nav__link">Контакты</a></li>
          <li class="nav__item" style="postiton: relative;">
            <div id="searchAnchor">&nbsp;</div>
            <div class="searchBox" id="searchBox">
              <input class="searchInput" type="text" name="" placeholder="Поиск">
              <button class="btn-reset searchSearch" data-graph-path="">НАЙТИ</button>
              <button class="searchButton" href="#">
                <div id="searchicon">
                  <img src="img/icon-search-white.png">
                </div>
              </button>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-grid">
      <div class="flex">
        <button class="btn-reset nav__button btn-secondary">КУПИТЬ</button>
        <div class="lang">
          <a href="#" class="active">RU</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">EN</a>
        </div>
      </div>
    </div>

  </div>
<!--
  <div class="topsearch" id="topsearch">
    <input type="text" name="top-search" placeholder="Поиск" />
    <button class="btn-reset" data-graph-path="">НАЙТИ</button>
  </div>


-->


</header>
