<header class="header">
  <div class="container header__container grid">
    <div class="header-grid">
      <a href="index.html" class="logo">
        <img src="img/svg/sk-logo.svg" alt="" />
      </a>
    </div>

    <!-- средняя секция на десктопе -->
    <div class="header-grid desktop">
      <nav class="nav" title="Главное меню">
        <ul class="list-reset nav__list flex" id="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link" id="link-manuf">Производство</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" id="link-brands">Продукт</a>
          </li>
          <li class="nav__item">
            <a href="new.html" class="nav__link">Новинки</a>
          </li>
          <li class="nav__item">
            <a href="startups.html" class="nav__link">Стартапам</a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link">Контакты</a>
          </li>
          <li class="nav__item">
            <div id="searchanchor"></div>
            <div class="searchbox" id="searchbox">
              <input class="searchinput" type="text" name="" placeholder="Поиск" />
              <span class="searchbuffer">&nbsp;</span>
              <button class="btn-reset searchsearch" data-graph-path="">НАЙТИ</button>
              <button class="searchbutton" href="#">
                <div id="searchicon">
                  <img src="img/svg/search-icon.svg" />
                </div>
              </button>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <!-- средняя секция на мобильных и маленьких экранах <1280 -->
    <div class="header-grid mobile">
      <div class="flex">
        <div class="lang"><a href="#" class="active">RU</a>&nbsp;&nbsp;&nbsp;<a href="#">EN</a></div>
      </div>
    </div>

    <!-- правая секция на десктопе -->
    <div class="header-grid desktop">
      <div class="header-r flex">
        <div>
          <button class="btn-reset nav__button btn-secondary">КУПИТЬ</button>
        </div>
        <div class="lang"><a href="catalog.html" class="active">RU</a>&nbsp;&nbsp;&nbsp;<a href="#">EN</a></div>
      </div>
    </div>

    <!-- правая секция на мобильных и маленьких экранах <1280 -->
    <div class="header-grid mobile">
      <div class="flex">
        <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger onClick="">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>

@include('../partials/topmenu_mobile.html') @include('../partials/topmenu_brands.html')
@include('../partials/topmenu_manuf.html')
