<section class="intro" id="intro">
  <div class="container">
    <img class="intro-logo" src="img/svg/sk-logo-main.svg" alt="" />
    <p class="intro-desc desktop">
      Только у нас проверенные поставщики, <br />собственные лаборатории и авторское <br />оборудование,привезенное из
      Европы
    </p>
    <p class="intro-desc mobile">
      Только у нас проверенные <nobr>поставщики, собственные</nobr> лаборатории и авторское оборудование, привезенное
      <br />
      из Европы
    </p>
    <button class="btn-reset btn-primary intro-btn">НАШ ПРОДУКТ</button>
    <div class="anchor-aos-vid"></div>
    <div class="intro-buffer"></div>
  </div>
</section>
<!-- <section class="intro-empty"></section> -->
<div class="scrollval">0</div>
<!--<div id="progress"></div> -->
<section class="intro-vid">
  <!-- <div
    class="video-container"
    id="video-container"
    data-aos="vid-animation"
    data-aos-offset="200"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1500"
    data-aos-anchor=".anchor-aos-vid">
    <video
      id="my-video"
      class="video-js"
      controls
      autoplay
      preload="auto"
      data-setup="{}"
      poster="img/video1.png"
      muted
      playsinline>
      <source src="video1.mp4" type="video/mp4" />
    </video>

  </div> -->
  <div id="video-container" class="video-container">
    <img id="video-main" src="img/video1.png" alt="" />
  </div>

  <div class="intro-buffer buffer-black"></div>
  <div class="intro-buffer"></div>
  <div class="intro-buffer"></div>
  <script>
    videojs(document.querySelector(".video-js"), {
      language: "ru",
    })
  </script>
</section>

<!--
  <img
    class="i-video"
    src="img/video1.png"
    alt=""
    data-aos="vid-animation"
    data-aos-offset="200"
    data-aos-easing="ease-out"
    data-aos-duration="700"
    data-aos-anchor=".anchor-aos-vid" />
-->
<!-- настройки анимации -->
<!-- data-aos-anchor-placement="center-top"-->
<!-- <div
    class="video-container"
    data-aos="vid-animation"
    data-aos-offset="200"
    data-aos-easing="ease-in-sine"
    data-aos-duration="500"
    data-aos-anchor=".anchor-vid"> -->
<!--
  <div id="progress">
    <video
      id="my-video"
      class="video-js"
      controls
      autoplay
      preload="auto"
      width="800"
      height="400"
      data-setup="{}"
      poster="img/video1.png"
      muted
      playsinline>
      <source src="video1.mp4" type="video/mp4" />
    </video>
  </div>
  -->
<!--
</section>
-->
