<section class="department">
  <div class="container">
    <div class="dep-container">
      <div class="dep-card">
          <img src="img/line-cmilk-card.png"/>
          <h1>Отдел исследований и разработок</h1>
          <p>Создаем новые продукты<br/>в инновационном пространстве</p>
          <a href="#" class="dep-card__link">узнать подробнее<img src="img/arr-right-w-default.png" alt=""></a>
      </div>
      <div class="dep-card dep-card_back">
        <img src="img/pic-main-b.png" class="dep-card__pic" alt=""/>
      </div>
    </div>
  </div>
</section>
