<section class="department">
  <div class="container">
    <div class="dep-container">
      <div class="dep-card">
          <div class="dep-card__line"></div>
          <h1>Отдел исследований и разработок</h1>
          <p>Создаем новые продукты<br/>в инновационном пространстве</p>
          <span class="arr-right-on"><a href="#" class="dep-card__link">узнать подробнее @include('../partials/arrowright_white.html')</a></span>
      </div>
      <div class="dep-card_back">
        <!-- <img src="img/pic-main-b.png" class="dep-card__pic" alt=""/> -->
      </div>
    </div>
  </div>
</section>
