
<section class="highlights">
  <div class="container">
    <ul class="list-reset highlights__cards grid">
      <li class="list-reset highlights__item">
        <article class="hl-card">
          <div class="hl-card__empty"></div>
        </article>
        <article class="hl-card hl-card_align_right">
          <div class="hl-card__item hl-card__item_top ">
            <h1>15 лет на рынке</h1>
            <p>держим качество</p>
          </div>
          <div class="hl-card__item">
            <h1>3 года подряд</h1>
            <p>получаем Народную марку</p>
          </div>
        </article>
        <article class="hl-card">
          <div class="hl-card__empty"></div>
          <div class="hl-card__empty"></div>
          <div class="hl-card__empty"></div>
          <div class="hl-card__empty"></div>
          <div class="hl-card__empty"></div>
        </article>
        <article class="hl-card hl-card_align_right">
          <div class="hl-card__item hl-card__item_top">
            <h1>7 проверок</h1>
            <p>качества проходит<br/>каждый продукт</p>
            <div class="hl-card__link">
              <a class="link-more-right" href="#">
                  <span class="text">узнать подробнее</span>
                  <span class="arr">
                    <img src="img/svg/arr-right.svg" />
                  </span>
              </a>
            </div>
          </div>
        </article>

      </li>
      <li class="list-reset highlights__item">
        <article class="hl-card">
          <div class="hl-card__empty"></div>
        </article>
      </li>
      <li class="list-reset highlights__item">
            <article class="hl-card">
              <div class="hl-card__empty"></div>
              <div class="hl-card__empty"></div>
              <div class="hl-card__empty"></div>
              <div class="hl-card__empty"></div>
            </article>
            <article class="hl-card hl-card_align_left">
              <div class="hl-card__item hl-card__top">
                <h1>40 тысяч тонн</h1>
                <p>продукции реализовываем<br />ежегодно</p>
              </div>
              <div class="hl-card__item">
                <h1>50 000 000</h1>
                <p>упаковок продукции<br />съедают каждый год</p>
              </div>
              <div class="hl-card__item">
                <h1>80 SKU</h1>
                <p>в наличии и каждый<br />стоит попробовать</p>
              </div>
            </article>
      </li>
    </ul>

  </div>
</section>

<!-- end of swiper divs:-->


