
<section class="intro">  <!--<section class="intro rellax" data-rellax-speed="-7">-->
  <div class="container">

    <img class="intro-logo" src="img/sk-logo-w-text.png" alt="" />
    <p class="intro-desc">Только у нас проверенные поставщики, <br/>собственные лаборатории и авторское оборудование,<br />привезенное из Европы</p>
    <button class="btn-reset btn-primary">НАШ ПРОДУКТ</button>
    <div class="anchor-aos-vid"></div>
    <div class="intro-buffer"></div>

  </div>

</section>
<section class="intro-empty"></section>

<section class="intro-vid">
  <div class="intro-buffer"></div>
  <img class="i-video" src="img/video1.png" alt="" data-aos="vid-animation" data-aos-offset="200" data-aos-easing="ease-out"
    data-aos-duration="700" data-aos-anchor=".anchor-aos-vid"/>


    <!-- data-aos-anchor-placement="center-top"-->
  <!-- <div class="video-container" data-aos="vid-animation" data-aos-offset="200" data-aos-easing="ease-in-sine"
    data-aos-duration="500" data-aos-anchor=".anchor-vid"  >

    <video controls class="i-video" poster="img/video1.png" autoplay muted playsinline width="100%">
      <source src="video1.mp4" type="video/mp4">
    </video>
  </div> -->
</section>
