<section class="department">
  <div class="container">
    <div class="dep-container">
      <div class="dep-card">
        <div class="dep-card__line"></div>
        <h1>Отдел исследований <br class="desktop" />и разработок</h1>
        <p>Создаем новые продукты<br />в инновационном пространстве</p>
        <br class="desktop" />
        <span class="arr-right-on">
          <a href="#" class="dep-card__link">узнать подробнее @include('../partials/arrowright_white.html')</a>
        </span>
      </div>
      <div class="dep-card_back"></div>
    </div>
  </div>
</section>
