<section class="keys">
  <div class="container">
    <div class="keys__top">
      <h1 class="head-h0">Ключевые принципы<br/>нашей работы</h1>
    </div>
    <ul class="list-reset keys__cards grid">
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/line-card.png" alt="line" class="keys-card__line">
          <img src="img/card-p.png" alt="icon" class="keys-card__icon">
          <h2>Проверенные поставщики</h2>
          <p>Создали внутренний рейтинг для каждого поставщика и выбираем только тех, кто соответсвует всем требованиям<br /><br /><br /></p>
        </article>
      </li>
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/line-card.png" alt="line" class="keys-card__line">
          <img src="img/card-cert.png" alt="icon" class="keys-card__icon">
          <h2>Сертификация FSSC 22000</h2>
          <p>Система менеджмента безопастности пищевой продукции производственной площадки, внедрена с 2015 года<br/><br /><br /></p>
          <!-- img src="img/arr-right-default.png" alt="" -->
          <a class="link-more-right keys-card__link" href="#">
            <span class="text">проверить сертификат</span>
            <span class="arr">
              <img src="img/svg/arr-right.svg" />
            </span>
          </a>
        </article>
      </li>
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/line-card.png" alt="line" class="keys-card__line">
          <img src="img/card-child.png" alt="icon" class="keys-card__icon">
          <h2>Разрабатываем продукцию совместно с НИИ
          Детского питания</h2>
          <p>Продукция создается по технологиям и рекомендациям Научно-исследовательского института детского питания<br /><br /><br /></p>
          <a class="link-more-right keys-card__link" href="#">
            <span class="text">смотреть продукцию</span>
            <span class="arr">
              <img src="img/svg/arr-right.svg" />
            </span>
          </a>
        </article>
      </li>
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/line-card.png" alt="line" class="keys-card__line">
          <img src="img/card-lab.png" alt="icon" class="keys-card__icon">
          <h2>Собственные лаборатории</h2>
          <p>Проверяем сырье и продукцию по сотням важных критериев</p>
          <a class="link-more-right keys-card__link" href="#">
            <span class="text">узнать подробнее</span>
            <span class="arr">
              <img src="img/svg/arr-right.svg" />
            </span>
          </a>
        </article>
      </li>
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/line-card.png" alt="line" class="keys-card__line">
          <img src="img/card-eur.png" alt="icon" class="keys-card__icon">
          <h2>Привезли из Европы</h2>
          <p>Французские и итальянские станки для создания уникальных продуктов на территории РФ<br /><br /><br /></p>
        </article>
      </li>
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/line-card.png" alt="line" class="keys-card__line">
          <img src="img/card-manuf.png" alt="icon" class="keys-card__icon">
          <h2>авторское оборудование</h2>
          <p>Разработали собственные аппараты для производства и максимальной передачи вкуса<br /><br /><br /></p>
        </article>
      </li>
    </ul>
  </div>
</section>
