<section class="intro">
  <div class="container">
    <img class="f-logo" src="img/sk-logo-w-text.png" alt="" />
    <p class="intro-desc">Только у нас проверенные поставщики, <br/>собственные лаборатории и авторское оборудование,<br />привезенное из Европы</p>
    <button class="btn-reset btn-primary">НАШ ПРОДУКТ</button>
    <div class="intro-buffer"></div>
  </div>
  <div class="video-container" data-aos="zoom-in-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="400">
    <img class="i-video" src="img/video1.png" alt="" />
  </div>
</section>
