<section class="new-keys new-header section">
  <div class="section__wrapper">
    <h2 class="title centered">преимущества</h2>
    <ul class="list-reset new-keys__list grid">
      <li class="new-keys__item">
        <img src="img/new-card-time.png" alt="icon" class="icon" width="66" height="66" />
        <h3 class="title">не менее 20 часов</h3>
        <p>тесто ферментируется</p>
      </li>

      <li class="new-keys__item">
        <img src="img/new-card-fire.svg" alt="icon" class="icon" width="66" height="66" />
        <h3 class="title">Готовится в итальянской печи</h3>
        <p>из натуральной шамотной глины</p>
      </li>
      <li class="new-keys__item">
        <img src="img/new-card-box.svg" alt="icon" class="icon" width="66" height="66">
        <h3 class="title">создали коммерческий дизайн упаковки</h3>
        <p>и это не просто дизайн, это комплекс мероприятий по нейромаркетингу, психологии, дизайну и копирайтингу</p>
      </li>
    </ul>
  </div>
</section>
