<section class="line new-header black section">
  <h2 class="title">Линейка</h2>
  <div class="container grid">
    <div class="line__item flex" onclick="location.href = 'new-pizza.html#pizza1'">
      <img src="img/new-pizza-1.jpg" alt="" width="228" height="172"/>
      <h3 class="title">4 сыра</h3>
      <p class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza1">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </p>
    </div>

    <div class="line__item flex" onclick="location.href = 'new-pizza.html#pizza2'">
      <img src="img/new-pizza-2.jpg" alt="" width="228" height="172"/>
      <h3 class="title">Мясная</h3>
      <p class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza2">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </p>
    </div>

    <div class="line__item flex">
      <img src="img/new-pizza-3.jpg" alt="" width="228" height="172"/>
      <h3 class="title">маргарита</h3>
      <p class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza3">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </p>
    </div>

    <div class="line__item flex">
      <img src="img/new-pizza-4.jpg" alt="" width="228" height="172"/>
      <h3 class="title">фирменная</h3>
      <p class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza4">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </p>
    </div>

  </div>



</section>
