
<section class="new-header">
  <h1>преимущества</h1>
</section>
<section class="keys">
  <div class="container">
    <div class="keys__top">
      <h1></h1>
    </div>
    <ul class="list-reset keys__cards grid">
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/new-card-20.png" alt="icon" class="keys-card__icon" />
          <h2>не менее 20 часов</h2>
          <p>тесто ферментируется</p>
        </article>
      </li>

      <li class="keys__item">
        <article class="keys-card">
          <img src="img/new-card-fire.png" alt="icon" class="keys-card__icon" />
          <h2>Готовится в итальянской печи</h2>
          <p>из натуральной шамотной глины</p>

        </article>
      </li>
      <li class="keys__item">
        <article class="keys-card">
          <img src="img/new-card-box.png" alt="icon" class="keys-card__icon">
          <h2>создали коммерческий дизайн упаковки</h2>
          <p>и это не просто дизайн, это комплекс мероприятий по нейромаркетингу, психологии, дизайну и копирайтингу</p>
        </article>
      </li>
    </ul>
  </div>
</section>
