<section class="new-header black">
  <h1>подробнее о новинках</h1>
</section>
<section class="newmore">
  <h1>4 сыра</h1>
  <p>Сбалансированный сырный вкус</p>
  <ul class="newmore__list">
    <li>гауда</li>
    <li>моцарелла</li>
    <li>чеддер</li>
    <li>blue cheese</li>
  </ul>
  <div>9-11 минут и готово</div>
  <div>масса нетто: 365 г</div>
</section>

<section class="newmore">
  <h1>мясная</h1>
  <p>Мясной, яркий вкус</p>
  <ul class="newmore__list">
    <li>колбаса</li>
    <li>сальчичон</li>
    <li>сырокопчёный бекон</li>
  </ul>
  <div>12-14 минут и готово масса нетто: 420 г</div>
</section>

<section class="newmore">
  <h1>маргарита</h1>
  <p>Традиция итальянской пиццы</p>
  <ul class="newmore__list">
    <li>спелые томаты</li>
    <li>моцарелла</li>
    <li>базилик</li>
  </ul>
  <div>9-11 минут и готово масса нетто: 365 г</div>
</section>

<section class="newmore">
  <h1>фирменная</h1>
  <p>Мясной, яркий вкус</p>
  <ul class="newmore__list">
    <li>колбаса</li>
    <li>сальчичон</li>
    <li>сырокопчёный бекон</li>
  </ul>
  <div>12-14 минут и готово масса нетто: 420 г</div>
</section>
