<section class="section">
  <div class="section__wrapper">
    <div class="card">
      <div class="card__wrapper">
        <h2 class="title">для кого?</h2>
        <p>
          <strong>Gen Zers — Поколение Z.</strong>
          Они познают окружающий<wbr> мир — быстро и удобно для себя. Они привыкли к яркому и лаконичному<wbr> контенту.
        </p>
      </div>
    </div>
    <div class="card-image">
      <img src="img/new-genzers.jpg" class="card-card__pic" alt="Happy young people eat pizza" width="648" height="384"/>
    </div>
  </div>
</section>
