<section class="card">
  <div class="container">
    <div class="card-container">
      <div class="card-card">
        <div class="card-card__line"></div>
        <h1>для кого?</h1>
        <p><strong>Gen Zers — Поколение Z.</strong><br/>Они познают окружающий мир — быстро и удобно для себя. Они привыкли к яркому и лаконичному
        контенту.</p>
        <a href="#" class="card-card__link">узнать подробнее<img src="img/arr-right-w-default.png" alt=""></a>
      </div>
      <div class="card-card_back">
        <img src="img/new-genzers.jpg" class="card-card__pic" alt=""/>
      </div>
    </div>
  </div>
</section>
