<section class="newitem">
  <div class="container newitem_container">
    <div class="newitem__name">пицца</div>
    <img src="img/new-img-p-2x.jpg" alt="" class="newitem__pic">
    <div class="newitem__text flex">
      <div class="newitem__buffer">&nbsp;</div>
      <div>
        <h1>новая серия пиццы</h1>
        <p>4 сыра | Мясная | Маргарита | Фирменная</p>
      </div>

      <a class="link-more-right newitem__link" href="new-pizza.html">
        <span class="text">узнать подробнее</span>
        <span class="arr">
          <img src="img/svg/arr-right.svg">
        </span>
      </a>
    </div>
  </div>
</section>
<section class="newitem">
  <div class="container newitem_container">
    <div class="newitem__name">блины</div>
    <img src="img/new-b-mal-2x.png" alt="" class="newitem__pic">
    <div class="newitem__text flex">
      <div class="newitem__buffer">&nbsp;</div>
      <div>
        <h1>Блины на молоке<br/>с курочкой и сыром</h1>
        <!-- <p></p> -->
      </div>

      <a class="link-more-right newitem__link" href="new-pizza.html">
        <span class="text">узнать подробнее</span>
        <span class="arr">
          <img src="img/svg/arr-right.svg">
        </span>
      </a>
    </div>
  </div>
</section>
<section class="newitem">
  <div class="container newitem_container">
    <div class="newitem__name">пельмени</div>
    <img src="img/new-sk-pel-2x.png" alt="" class="newitem__pic">
    <div class="newitem__text flex">
      <div class="newitem__buffer">&nbsp;</div>
      <div>
        <h1>Классические</h1>
        <p>GOURMET</p>
      </div>

      <a class="link-more-right newitem__link" href="new-pizza.html">
        <span class="text">узнать подробнее</span>
        <span class="arr">
          <img src="img/svg/arr-right.svg">
        </span>
      </a>
    </div>
  </div>
</section>


<section class="empty">
&nbsp;
</section>
