<section class="newitem">
  <div class="container newitem_first">
    <div class="newitem__name">пицца</div>
    <div class="newitem__pic"><img src="img/new-img-p-2x.jpg" alt="" /></div>
    <div class="newitem__text flex">
      <div class="newitem__buffer">&nbsp;</div>
      <div>
        <h1>новая серия пиццы</h1>
        <p>4 сыра | Мясная | Маргарита | Фирменная</p>
      </div>

      <span class="arr-right-on">
        <a class="newitem__link" href="new-pizza.html">
          <span class="text">узнать подробнее</span>
          @include('../partials/arrowright.html')
        </a>
      </span>
    </div>
  </div>
</section>
<section class="newitem">
  <div class="container">
    <div class="newitem__name">блины</div>
    <div class="newitem__pic"><img src="img/new-b-mal-2x.png" alt="" /></div>
    <div class="newitem__text flex">
      <div class="newitem__buffer">&nbsp;</div>
      <div>
        <h1>Блины на молоке<br />с курочкой и сыром</h1>
        <!-- <p></p> -->
      </div>
      <span class="arr-right-on">
        <a class="newitem__link" href="new-pizza.html">
          <span class="text">узнать подробнее</span>
          @include('../partials/arrowright.html')
        </a>
      </span>
    </div>
  </div>
</section>
<section class="newitem">
  <div class="container">
    <div class="newitem__name">пельмени</div>
    <div class="newitem__pic"><img src="img/new-sk-pel-2x.png" alt="" /></div>
    <div class="newitem__text flex">
      <div class="newitem__buffer">&nbsp;</div>
      <div>
        <h1>Классические</h1>
        <p>GOURMET</p>
      </div>
      <span class="arr-right-on">
        <a class="newitem__link" href="new-pizza.html">
          <span class="text">узнать подробнее</span>
          @include('../partials/arrowright.html')
        </a>
      </span>
    </div>
  </div>
</section>

<section class="empty">&nbsp;</section>
