<section class="new-header newmore black section">
  <div class="section__wrapper">
    <h2 class="title centered">подробнее о новинках</h2>
    <div class="newmore__item">
      <div class="anchor" id="pizza1"></div>
      <div class="container item grid">
        <div>
          <h3 class="title">4 сыра</h3>
          <p>Сбалансированный сырный вкус</p>
          <ul class="item__list">
            <li>гауда</li>
            <li>моцарелла</li>
            <li>чеддер</li>
            <li>blue cheese</li>
          </ul>
          <div class="item__cooking flex">
            <p>9-11 минут и готово</p>
            <p>масса нетто: 365 г</p>
          </div>
        </div>

        <div>
          <div class="item__visuals">
            <div class="item__fly">
              <img src="img/new-pizza-1.jpg" alt="4 СЫРА"/>
            </div>
            <img src="img/new-pizza-p-1.png" alt="4 СЫРА"/>
          </div>

        </div>
      </div>
    </div>

    <div class="newmore__item">
      <div class="anchor" id="pizza2"></div>
      <div class="container item grid">
        <div>
          <h2 class="title">мясная</h2>
          <p>Мясной, яркий вкус</p>
          <ul class="item__list">
            <li>колбаса</li>
            <li>сальчичон</li>
            <li>сырокопчёный бекон</li>
          </ul>
          <div class="item__cooking flex">
            <p>12-14 минут и готово</p>
            <p>масса нетто: 420 г</p>
          </div>
        </div>

        <div>
          <div class=item__visuals">
            <div class="item__fly">
              <img src="img/new-pizza-2.jpg" alt="МЯСНАЯ"/>
            </div>
            <img src="img/new-pizza-p-2.png" alt="МЯСНАЯ"/>
          </div>
        </div>
      </div>
    </div>

    <div class="newmore__item">
      <div class="anchor" id="pizza3"></div>
      <div class="container item grid">
        <div>
          <h2 class="title">маргарита</h2>
          <p>Традиция итальянской пиццы</p>
          <ul class="item__list">
            <li>спелые томаты</li>
            <li>моцарелла</li>
            <li>базилик</li>
          </ul>
          <div class="item__cooking flex">
            <p>9-11 минут и готово</p>
            <p>масса нетто: 365 г</p>
          </div>
        </div>

        <div>
          <div class="item__visuals">
            <div class="item__fly">
              <img src="img/new-pizza-3.jpg" alt="МАРГАРИТА"/>
            </div>
            <img src="img/new-pizza-p-3.png" alt="МАРГАРИТА"/>
          </div>

        </div>
      </div>
    </div>

    <div class="newmore__item">
      <div class="anchor" id="pizza4"></div>
      <div class="container item grid">
        <div>
          <h2 class="title">фирменная</h2>
          <p>Мясной, яркий вкус</p>
          <ul class="item__list">
            <li>колбаса</li>
            <li>сальчичон</li>
            <li>сырокопчёный бекон</li>
          </ul>
          <div class="item__cooking flex">
            <p>12-14 минут и готово</p>
            <p>масса нетто: 420 г</p>
          </div>
        </div>

        <div>
          <div class="item__visuals">
            <div class="item__fly">
              <img src="img/new-pizza-3.jpg" alt="ФИРМЕННАЯ"/>
            </div>
            <img src="img/new-pizza-p-3.png" alt="ФИРМЕННАЯ"/>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
