
продукт описание итд

<div>
  <img src=""/>
  <h2>Говядина Limousine</h2>
  <p>Лимузенская говядина очень ценится во всем мире за свое нежное, зернистое мясо красного цвета, с тонкой прослойкой жира
  и приятным вкусом</p>
  <h2>состав:</h2>
  <p>Фарш — говядина, мясо куриное, вода питьевая, лук репчатый свежий, сливки питьевые, соль пищевая, перец черный молотый.
  Тесто — мука пшеничная высшего сорта, вода питьевая, меланж яичный, масло подсолнечное, соль пищевая.</p>
  <h2>Размер:</h2>
  <div class="pel-sizes">иконки Размера</div>
  <div class="nutrition">Пищевая и энергетическая ценность</div>
</div>
