
<div class="container submenu__container">
  <ul class="list-reset submenu__list flex">
    <li class="subitem subitem_active">
      <div class="subitem__number">01</div>
      <div class="subitem__flex flex">
        <a href="#" class="subitem__back"><img src="img/svg/arr-left.svg" /></a>
        <h1 class="subitem__name">
          с говядиной
        </h1>
        <a href="#" class="subitem__forward"><img src="img/svg/arr-right.svg"/></a>
      </div>

      <span class="subitem__note">вкусы</span>
    </li>
    <li class="subitem">
      <div class="subitem__number">01</div>
      <h1 class="subitem__name">
        с телятиной
      </h1>
      <span class="subitem__note">вкусы</span>
    </li>
    <!-- все ли пункты списка должны содержать доп элементы subitem__ -? !!! -->
    <li class="subitem"><h1 class="subitem__name">с индейкой</h1></li>
    <li class="subitem"><h1 class="subitem__name">с курицей</h1></li>
    <li class="subitem"><h1 class="subitem__name">4 вида мяса</h1></li>
    <li class="subitem"><h1 class="subitem__name">халяль</h1></li>
    <li class="subitem"><h1 class="subitem__name">эксклюзив</h1></li>


  </ul>
</div>
