<div class="nutrition container">
  <div class="nutrition__header accordion"><span>Пищевая и энергетическая ценность</span></div>
  <div class="nutrition__content panel">
    <dl class="chars">
      <div class="chars__item">
        <dt class="chars__term">белки</dt>
        <dd class="chars__val">4,9 г</dd>
      </div>
      <div class="chars__item">
        <dt class="chars__term">жиры</dt>
        <dd class="chars__val">13,3 г</dd>
      </div>
      <div class="chars__item">
        <dt class="chars__term">углеводы</dt>
        <dd class="chars__val">23 г</dd>
      </div>
      <div class="chars__item">
        <dt class="chars__term">калорийность</dt>
        <dd class="chars__val">231,3 ккал / <wbr>966,4 кДж</dd>
      </div>
    </dl>
    <div class="nutrition__mass">
      <span>МАССА НЕТТО:</span><span>700 Г</span>
    </div>
  </div>
</div>
