
<div class="product-content grid">
  <div class="product-content__info">
    <div class="p-info flex">
      <div class="p-info__desc">
        <img src="img/prod_beef.png" class="p-info__icon" />
        <h2>Говядина Limousine</h2>
        <p>Лимузенская говядина очень ценится во всем мире за свое нежное, зернистое мясо красного цвета, с тонкой прослойкой
          жира
          и приятным вкусом</p>
      </div>
      <div class="p-info__more">
        <h2>состав:</h2>
        <p>Фарш — говядина, мясо куриное, вода питьевая, лук репчатый свежий, сливки питьевые, соль пищевая, перец черный
          молотый.
          Тесто — мука пшеничная высшего сорта, вода питьевая, меланж яичный, масло подсолнечное, соль пищевая.</p>
      </div>
      <div class="p-info__sizes ">
        <h2>Размер:</h2>
        <div class="pel-sizes flex">
          <div class="pel-sizes__item pel-sizes__item_1">
            <img src="img/svg/size-notactive.svg" />
            <span class="pel-sizes__name">MINI</span>
            <span class="pel-sizes__weight">2 гр</span>
          </div>
          <div class="pel-sizes__item pel-sizes__item_2">
            <img src="img/svg/size-notactive.svg" />
            <span class="pel-sizes__name">MIDI</span>
            <span class="pel-sizes__weight">5 гр</span>
          </div>
          <div class="pel-sizes__item pel-sizes__item_3 active">
            <img src="img/svg/size-active.svg" />
            <span class="pel-sizes__name">CLASSIC</span>
            <span class="pel-sizes__weight">10 гр</span>
          </div>
          <div class="pel-sizes__item pel-sizes__item_4">
            <img src="img/svg/size-notactive.svg" />
            <span class="pel-sizes__name">GRAND</span>
            <span class="pel-sizes__weight">20 гр</span>
          </div>

        </div>
      </div>
      <div class="p-info__nutrition">
        @include('../partials/product_t1_nutrition.html')
      </div>

    </div>
  </div>
  <div class="product-content__img">
    <img src="img/image78-2x.png" alt=""/>
  </div>


</div>

