<div class="container submenu__container">
  <ul class="list-reset submenu__list flex">
    <li class="subitem subitem_active">
      <div class="subitem__number">01</div>
      <div class="subitem__flex flex">
        <span class="arr-left-on">
          <a href="#" class="subitem__back">@include('../partials/arrowleft.html')</a>
        </span>
        <h1 class="subitem__name">с мясом</h1>
        <span class="arr-right-on">
          <a href="#" class="subitem__forward">@include('../partials/arrowright.html')</a>
        </span>
      </div>
      <span class="subitem__note">вкусы</span>
    </li>
    <li class="subitem">
      <h1 class="subitem__name">с творогом</h1>
    </li>
    <li class="subitem">
      <h1 class="subitem__name">десертные с нежным творогом</h1>
    </li>
    <li class="subitem">
      <h1 class="subitem__name">с жареными ...</h1>
    </li>

  </ul>
</div>
