
<div class="container submenu__container">
  <ul class="list-reset submenu__list flex">
    <li class="subitem subitem_active">
      <div class="subitem__number">02</div>
      <div class="subitem__flex flex">
        <span class="arr-left-on">
          <a href="product-pelmeni-1.html" class="subitem__back">@include('../partials/arrowleft.html')</a>
        </span>
        <h1 class="subitem__name">с телятиной</h1>
        <span class="arr-right-on">
          <a href="#" class="subitem__forward">@include('../partials/arrowright.html')</a>
        </span>
      </div>
      <span class="subitem__note">вкусы</span>
    </li>

    <li class="subitem"><h1 class="subitem__name">с индейкой</h1></li>
    <li class="subitem"><h1 class="subitem__name">с курицей</h1></li>
    <li class="subitem"><h1 class="subitem__name">4 вида мяса</h1></li>
    <li class="subitem"><h1 class="subitem__name">халяль</h1></li>
    <li class="subitem"><h1 class="subitem__name">эксклюзив</h1></li>
    <li class="subitem">
      <h1 class="subitem__name">с говядиной</h1>
    </li>

  </ul>
</div>
