
<div class="product-content grid">
  <div class="product-content__info">
    <div class="p-info flex">
      <div class="p-info__desc">
        <img src="img/prod-handmade.png" class="p-info__icon" />
        <h2>ручная работа</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
      </div>
      <div class="p-info__more">
        <h2>состав:</h2>
        <div class="info-more">
          <p>Тесто - мука пшеничная высший сорт, вода питьевая, молоко сухое цельное, меланж яичный, масло сливочное, масло
          подсолнечное, сахар, соль, разрыхлитель (гидрокарбонат натрия); <br/>начинка – говядина, мясо цыплят-бройлеров, лук репчатый
          жареный, масло подсолнечное, вода питьевая, мука пшеничная высший сорт, соль, чеснок сушеный, перец черный молотый
          </p>
        </div>

      </div>
      <div class="p-info__nutrition">
        @include('../partials/product_t1_nutrition.html')
      </div>

    </div>
  </div>
  <div class="product-content__img">
    <img src="img/new-b-mal-2x.png" alt=""/>
  </div>


</div>

