<section class="st-keys">


  <img src="img/st-1.png" alt="" />
  <h2>Инновационные продукты</h2>
  <p>Вы придумали новый продукт, которого еще нет на рынке? Мы поможем реализовать вашу идею!</p>

<img src="img/st-2.png" alt="" />
  <h2>Программное обеспечение</h2>
  <p>Оптимизируем закупку продуктов и поможем доставить их покупателю.</p>
  <img src="img/st-3.png" alt="" />
  <h2>Маркетинг</h2>
  <p>Мы знаем рынок и можем придумать, как продавать больше и лучше.</p>
  <button class="btn-reset btn-primary">расскажите о своей идее</button>

</section>
