
<section class="st-idea">
  <h1 class="head-h0">преимущества</h1>
  <div class="st-idea__item st-idea_1">
    <div class="st-idea__circle"></div>
    <div class="st-idea__number">01</div>
    <div class="st-idea__text">
      <h1 class="head-h0">любая идея</h1>
      <p>У нас нет строгих критериев — <br/>мы рассмотрим любую вашу идею</p>
    </div>

  </div>
  <div class="st-idea__item st-idea_2">
    <div class="st-idea__circle"></div>
    <div class="st-idea__text st-idea__text_2">
      <h1 class="head-h0">быть <wbr>первым</h1>
      <p>Вы можете стать первым, <wbr>кто запустит свой продукт <wbr>вместе с Sибирской коллекцией</p>
    </div>
    <div class="st-idea__number st-idea__number_2">02</div>

  </div>
  <div class="st-idea__item st-idea_3">
    <div class="st-idea__circle"></div>
    <div class="st-idea__number">03</div>
    <div class="st-idea__text">
      <h1 class="head-h0">крепкая <wbr>опора</h1>
      <p>Вы получите все нужные ресурсы <wbr>известного бренда <wbr>Sибирская коллекция</p>
    </div>
  </div>

</section>
