
<section class="st-idea">
  <h2 class="st_title">Преимущества</h2>
  <div class="st-idea__item">
    <h3 class="st_title">Любая идея</h3>
    <p>У нас нет строгих критериев — <br/>мы рассмотрим любую вашу идею</p>
  </div>
  <div class="st-idea__item">
    <h3 class="st_title">Быть первым</h3>
    <p>Вы можете стать первым, <br>кто запустит свой <span>продукт вместе с</span> Sибирской&nbsp;коллекцией</p>
  </div>
  <div class="st-idea__item">
    <h3 class="st_title">Крепкая опора</h3>
    <p>Вы получите все <span>нужные ресурсы</span> <span>известного бренда</span> Sибирская&nbsp;коллекция</p>
  </div>

</section>
