
<section class="st-idea">

  <h1>преимущества</h1>
  <div class="st-idea__item">
    <div>01</div>
    <h1>любая идея</h1>
    <p>У нас нет строгих критериев — мы рассмотрим любую вашу идею</p>
  </div>
  <div class="st-idea__item">
    <div>02</div>
    <h1>быть первым</h1>
    <p>Вы можете стать первым, кто запустит свой продукт вместе с Sибирской коллекцией</p>
  </div>
  <div class="st-idea__item">
    <div>03</div>
    <h1>крепкая опора</h1>
    <p>Вы получите все нужные ресурсы известного бренда Sибирская коллекция</p>
  </div>

</section>
