<section class="st-keys">
  <div class="st-keys__container grid">
    <div class="st-keys__item st-keys__item_1">
      <img src="img/st-1.png" alt="" />
    </div>
    <div class="st-keys__item st-keys__item_2">
      <h1>Инновационные продукты</h1>
      <p>Вы придумали новый продукт, которого еще нет на рынке? Мы поможем реализовать вашу идею!</p>
    </div>
    <div class="st-keys__item st-keys__item_4">
      <h1>Программное обеспечение</h1>
      <p>Оптимизируем закупку продуктов и поможем доставить их покупателю.</p>
    </div>
    <div class="st-keys__item st-keys__item_3">
      <img src="img/st-2.png" alt="" />
    </div>

    <div class="st-keys__item st-keys__item_5">
      <img src="img/st-3.png" alt="" />
    </div>
    <div class="st-keys__item st-keys__item_6">
      <h1>Маркетинг</h1>
      <p>Мы знаем рынок и можем придумать, как продавать больше и лучше.</p>
    </div>
  </div>

  <button class="btn-reset btn-primary st-keys__btn" data-graph-path="st-keys-modal">расскажите о своей идее</button>
</section>