<section class="st-form">
  <div class="st-form__container grid">
    <div class="st-form__item st-form__item_1">
      <h1>Оставить заявку</h1>
      <p>
        Мы верим, что ваша идея<br />достойна реализации —<br />
        расскажите о ней подробнее.<br />Давайте вместе запустим продукт!
      </p>
    </div>
    <div class="st-form__item st-form__item_2">
      <!-- форма обратной связи -->
      <div class="container">
        <form class="form startupsform">
          <label for="name" class="form__label">
            <input
              type="text"
              name="startups-fio"
              class="input-reset form__input contact-fio"
              value=""
              placeholder="Имя"
              data-validate-field="fio" />
          </label>
          <label class="form__label">
            <input
              type="email"
              name="email"
              class="input-reset form__input contact-email"
              value=""
              placeholder="Почта"
              data-validate-field="email" />
          </label>
          <label class="form__label">
            <input
              type="tel"
              name="tel"
              class="input-reset form__input contact-tel"
              value=""
              placeholder="Телефон"
              data-validate-field="tel" />
          </label>
          <label class="form__label">
            <input
              type="text"
              name="message"
              class="input-reset form__input contact-message"
              value=""
              placeholder="Сообщение"
              data-validate-field="message" />
          </label>

          <!-- скрипт для dropzone подключается только на страницах, где есть этот блок -->
          <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script> -->
          <div id="dropzone">
            <div class="dropzone needsclick" id="demo-upload" action="/upload">
              <div class="dz-message needsclick">
                Перетащите файлы или выберите с вашего устройства, чтобы загрузить их<br />
                <br /><span class="note needsclick">jpg, pdf, doc | до 10 Мб</span>
              </div>
            </div>
          </div>
          @include('../partials/dropzone_script.html')

          <!-- dropzone end -->
          <div class="form__agreement">
            <label class="label-check"
              >Я даю свое согласие на обработку моих данных <a href="#" class="linkin">Политики конфиденциальности</a> и
              соглашаюсь с положениями
              <input type="checkbox" name="agreement" id="agreement" value="yes" />
              <span class="checkmark"></span>
            </label>
          </div>
          <input type="hidden" name="form_origin" value="Из Стартапов" />
          <input type="hidden" name="form_popup" value="st1" />
          <button type="submit" class="btn-primary form__submit-btn">Отправить</button>
        </form>
      </div>
      <!-- модальное окно после отправки формы -->
      <div class="graph-modal">
        <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="st1">
          <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
          <div class="graph-modal__content">
            <h3>СПАСИБО!</h3>
            <p>Мы ознакомимся с вашим предложением и свяжемся с вами в течение 1 недели.</p>
            <button class="btn-reset btn-primary" onClick="location.href = '/';">на главную</button>
          </div>
        </div>
      </div>
    </div>

    <div class="st-form__item st-form__item_3">
      <h1>Задать вопрос</h1>
      <p>Остались вопросы?<br />Пишите — ответим!</p>
    </div>
  </div>
</section>
