<section class="st-keys">
  <div class="st-keys__container">
    <div class="st-keys__item">
      <picture>
        <img src="img/st-1.svg" alt="Инновационные продукты" width="81" height="88" />
      </picture>
      <div class="st-keys__item-content">
        <h3 class="st_title"><span class="desktop">Инновационные продукты</span><span class="mobile">Инновацион- ные продукты</span></h3>
        <p>Вы придумали новый продукт, <br>которого еще нет на рынке? Мы поможем реализовать вашу идею!</p>
      </div>
    </div>
    <div class="st-keys__item">
      <picture>
        <img src="img/st-2.svg" alt="Программное обеспечение" width="81" height="88" />
      </picture>
      <div class="st-keys__item-content">
        <h3 class="st_title">Программное обеспечение</h3>
        <p>Оптимизируем закупку продуктов и поможем доставить их покупателю.</p>
      </div>
    </div>
    <div class="st-keys__item">
      <picture>
        <img src="img/st-3.svg" alt="Маркетинг" width="81" height="88" />
      </picture>
      <div class="st-keys__item-content">
        <h3 class="st_title">Маркетинг</h3>
        <p>Мы знаем рынок и можем придумать, как продавать больше и лучше.</p>
      </div>
    </div>
  </div>

  <button class="btn-reset btn-primary st-keys__btn" data-graph-path="st-keys-modal">Расскажите о своей идее</button>
</section>
