<div class="topmenu-burger" data-menu>

<nav class="topmenu topmenu__brands" id="topmenu-brands-mob">
  <div class="topmenu-container">
    <div class="topmenu-container__item">
      <nav class="nav-top-l1" title="">
        <ul class="list-reset nav-top-l1__list">
          <li class="nav-top-l1__item active"><a href="#" class="nav-top-l1__link">бренды</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">детское питание</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">horeca</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">stm</a></li>
        </ul>
      </nav>
    </div>

  </div>
</nav>


</div>
