<div class="topmenu-mobile mobile" data-menu style="display: none;" >
<!--
      <nav class="nav-mob" title="Главное меню">
        <ul class="list-reset nav-mob__list flex" id="nav-mob__list">
          <li class="nav-mob__item"><a href="#" class="nav-mob__link" id="link-manuf">Производство</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link" id="link-brands">Продукт</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link">Новинки</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link">Стартапам</a></li>
          <li class="nav-mob__item"><a href="contacts.html" class="nav-mob__link">Контакты</a></li>
          <li class="nav-mob__item" style="postiton: relative;">
            <div id="searchAnchor">&nbsp;</div>
            <div class="searchBox" id="searchBox">
              <input class="searchInput" type="text" name="" placeholder="Поиск">
              <button class="btn-reset searchSearch" data-graph-path="">НАЙТИ</button>
              <button class="searchButton" href="#">
                <div id="searchicon">
                  <img src="img/icon-search-white.png">
                </div>
              </button>
            </div>
          </li>
        </ul>
      </nav>

      -->

  <!--



  <nav class="topmenu-mob topmenu-mob__brands" id="topmenu-mob-brands">
    <div class="topmenu-mob-container">
      <div class="topmenu-mob-container__item">
        <nav class="nav-top-mob-l1" title="">
          <ul class="list-reset nav-top-mob-l1__list">
            <li class="nav-top-mob-l1__item active"><a href="#" class="nav-top-mob-l1__link">бренды</a></li>
            <li class="nav-top-mob-l1__item"><a href="#" class="nav-top-mob-l1__link">детское питание</a></li>
            <li class="nav-top-mob-l1__item"><a href="#" class="nav-top-mob-l1__link">horeca</a></li>
            <li class="nav-top-mob-l1__item"><a href="#" class="nav-top-mob-l1__link">stm</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </nav>

    -->
</div>
