<nav class="topmenu topmenu__brands" id="topmenu-brands">
  <div class="topmenu-container">
    <div class="topmenu-container__item">
      <nav class="nav-top-l1" title="">
        <ul class="list-reset nav-top-l1__list">
          <li class="nav-top-l1__item active"><a href="#" class="nav-top-l1__link">бренды</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">детское питание</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">horeca</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">stm</a></li>
        </ul>
      </nav>
    </div>
    <div class="topmenu-container__item">
        <nav class="nav-top-l2" title="">
          <ul class="list-reset nav-top-l2__list">
            <li class="nav-top-l2__item"><a href="#" class="nav-top-l2__link">Sибирская коллекция</a></li>
            <li class="nav-top-l2__item"><a href="#" class="nav-top-l2__link">SK SELECTIVE</a></li>
            <li class="nav-top-l2__item"><a href="#" class="nav-top-l2__link">SK SELECTIVE KIDS</a></li>
            <li class="nav-top-l2__item nav-top-l2__item-more">
                <a class="link-more-right" href="#">
                  <span class="text">СМОТРЕТЬ ВСЕ</span>
                  <span class="arr">
                    <img src="img/svg/arr-right.svg" />
                  </span>
                </a>
            </li>
          </ul>
        </nav>
    </div>
    <div class="topmenu-container__item">
      <nav class="nav-top-l3" title="">
        <ul class="list-reset nav-top-l3__list">
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">пельмени</a></li>
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">вареники</a></li>
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">блины</a></li>
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">котлеты</a></li>
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">vegan</a></li>
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">пицца</a></li>
          <li class="nav-top-l3__item"><a href="#" class="nav-top-l3__link">kids</a></li>

          <li class="nav-top-l3__item nav-top-l3__item-more">
            <a class="link-more-right" href="#">
              <span class="text">СМОТРЕТЬ ВСЕ</span>
              <span class="arr">
                <img src="img/svg/arr-right.svg" />
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="topmenu-container__item">
      <nav class="nav-top-l4" title="">
        <ul class="list-reset nav-top-l4__list">
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">с говядиной</a></li>
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">с телятиной</a></li>
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">с индейкой</a></li>
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">с курицей</a></li>
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">4 вида мяса</a></li>
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">халяль</a></li>
          <li class="nav-top-l4__item"><a href="#" class="nav-top-l4__link">эксклюзив</a></li>

          <li class="nav-top-l4__item nav-top-l4__item-more">
            <a class="link-more-right" href="#">
              <span class="text">СМОТРЕТЬ ВСЕ</span>
              <span class="arr">
                <img src="img/svg/arr-right.svg" />
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
