<div class="topmenu-mobile mobile" data-menu>
  <div class="topmenu-mobile__head flex hidden" data-menu-search>
    <div class="topmenu-mobile__buffer"></div>
    <div class="topmenu-mobile__search">
      <div class="searchbox-mob flex" id="searchbox-mob">
        <input class="searchinput-mob" type="text" name="" placeholder="Поиск">
        <button class="searchbutton-mob" href="#">
          <div id="searchicon-mob">
            <img src="img/icon-search-white.png">
          </div>
        </button>
      </div>
    </div>
    <button class="btn-reset topmenu-mobile__close icon-close burger-close" aria-label="Закрыть меню" data-menu-close></button>

  </div>

  <div class="topmenu-mobile__content hidden" data-menu-content>
    <nav title="Главное меню">
      <div class="nav-mob nav-mob-l0">
        <ul class="list-reset nav-mob__list">
          <li class="nav-mob__item sub"><a href="#" class="nav-mob__link" id="link-manuf-mob">Производство</a></li>
          <li class="nav-mob__item sub"><a href="#" class="nav-mob__link" id="link-brands-mob">Продукт</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link">Новинки</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link">Стартапам</a></li>
          <li class="nav-mob__item"><a href="contacts.html" class="nav-mob__link">Контакты</a></li>
        </ul>
        <button class="btn-reset btn-secondary">Купить нашу продукцию</button>
      </div>

      <div class="nav-mob nav-mob-l1 hidden">
        <ul class="list-reset nav-mob__list">
          <li class="nav-mob__item sub"><a href="#" class="nav-mob__link" id="link-manuf-mob">Производство</a></li>
          <li class="nav-mob__item sub"><a href="#" class="nav-mob__link" id="link-brands-mob">Продукт</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link">Новинки</a></li>
          <li class="nav-mob__item"><a href="#" class="nav-mob__link">Стартапам</a></li>
          <li class="nav-mob__item"><a href="contacts.html" class="nav-mob__link">Контакты</a></li>
        </ul>
      </div>
    </nav>
  </div>



  <!--


    <div class="topmenu-mob-container">
      <div class="topmenu-mob-container__item">
        <nav class="nav-top-mob-l1" title="">
          <ul class="list-reset nav-top-mob-l1__list">
            <li class="nav-top-mob-l1__item active"><a href="#" class="nav-top-mob-l1__link">бренды</a></li>
            <li class="nav-top-mob-l1__item"><a href="#" class="nav-top-mob-l1__link">детское питание</a></li>
            <li class="nav-top-mob-l1__item"><a href="#" class="nav-top-mob-l1__link">horeca</a></li>
            <li class="nav-top-mob-l1__item"><a href="#" class="nav-top-mob-l1__link">stm</a></li>
          </ul>
        </nav>
      </div>

    </div>

    -->



</div>
