<nav class="topmenu topmenu__brands" id="topmenu-manuf">
  <div class="topmenu-container">
    <div class="topmenu-container__item topmenu-container__item-manuf">
      <nav class="nav-top-l1" title="">
        <ul class="list-reset nav-top-l1__list">
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">контроль качества</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">Собственные лаборатории</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">Разработка новых продуктов</a></li>
          <li class="nav-top-l1__item"><a href="#" class="nav-top-l1__link">карьера</a></li>
        </ul>
      </nav>
    </div>
    <div class="topmenu-container__item topmenu-container__item-manuf2"></div>
    <div class="topmenu-container__item topmenu-container__item-manuf3">
      <div class="piclink">
        <a href="#"><img src="img/picture-20.jpg" alt="" class="piclink__pic"/></a>
        <a href="#" class="piclink__link">отдел разработки</a>
      </div>
      <div class="piclink">
        <a href="#"><img src="img/picture-21.jpg" alt="" class="piclink__pic" /></a>
        <a href="#" class="piclink__link">карьера у нас</a>
      </div>
    </div>
  </div>
</nav>
